<div data-ng-controller="carmap as vm">
	<div class="container-fluid" data-ng-if="vm.showmaps">
		<div class="row">
			<div class="tm-live-map">
				<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
					<ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id"></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
	
	<div data-ng-if="vm.showmaps">
		<div class="tm-live-summary">
		    <p class="tm-live-today">Today</p> 
			<h1 class="tm-live-distance">{{vm.distanceCovered}} 
				<small class="tm-overlay-unit">km </small>
			</h1>
			<p class="tm-overlay-unit">Currently {{vm.status}}</p>
			<button type="button" class="btn btn-default btn-xs" style="background-color:rgba(204, 204, 204, 0.52)" data-ng-click="vm.gotoActivity()">
				<i class="glyphicon glyphicon-arrow-left"></i> Back to activity
			</button>
		</div>
	</div>
</div>

