<br/>
<div data-ng-controller="accountdetail as vm">
	<div class="col-xs-12 col-md-6">
		<form class="form-horizontal" name="accountform">
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Account Details</h5>
			<br/>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Account Owner<span style="margin-left:5px">*</span></label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="Account owner email" data-ng-model="vm.email" ng-readonly="true">
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Account Name<span style="margin-left:5px">*</span></label>
				<div class="col-md-8">
                   	<input type="text" class="form-control" placeholder="Account name" name="textaccountname" data-ng-model="vm.accountname" ng-readonly="true">
            	</div>
			</div>

			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textmobilenumber.$invalid && accountform.textmobilenumber.$touched }">
				<label class="col-md-3 control-label">Mobile Number<span style="margin-left:5px">*</span></label>
                <div class="col-md-8">
                    <input type="text" placeholder="Enter a Mobile Number" name="textmobilenumber" data-ng-model="vm.mobilenumber" class="form-control" required>
	                <div data-ng-messages="accountform.textmobilenumber.$error" data-ng-if="vm.interacted(accountform.textmobilenumber)" class="error-messages">
	                    <div ng-message="required">Mobile number required</div>
	                </div>
	            </div>
            </div>

			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textaddressline.$invalid && accountform.textaddressline.$touched }">
				<label class="col-md-3 control-label">Address</label>
				<div class="col-md-8">
                    <textarea type="text" class="form-control addresstextarea" placeholder="Address line" name="textaddressline" data-ng-model="vm.address.addressline" maxLength="300" style="resize:none"> </textarea>
            	</div>
			</div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textcity.$invalid && accountform.textcity.$touched }">
				<label class="col-md-3 control-label">City</label>
				<div class="col-md-8">
                    <input type="text" class="form-control" placeholder="City" name="textcity" data-ng-model="vm.address.city" ng-pattern="/^[a-zA-Z]*$/">
                    <div data-ng-messages="accountform.textcity.$error" data-ng-if="vm.interacted(accountform.textcity)" class="error-messages">
                        <div ng-message="pattern">Enter only alphabets</div>
                    </div>
            	</div>
			</div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textcountry.$invalid && accountform.textcountry.$touched }">
				<label class="col-md-3 control-label">Country<span style="margin-left:5px">*</span></label>
				<div class="col-md-8">
                    <select id="txtcountry" name="txtcountry" class="form-control" name="country" data-ng-model="vm.address.country" name="txtcountry" required>
		            </select>
			        <script language="javascript">
			            populateCountries("txtcountry");
			        </script>
			        <div data-ng-messages="accountform.txtcountry.$error" data-ng-if="vm.interacted(accountform.txtcountry)" class="error-messages paddingleft5" >
                        <div ng-message="required">Country required</div>
                    </div>
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Enable Inventory Tracking</label>
				<div class="col-md-8">
                   <input id="role-toggle1" name="role-toggle1" checked type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Enable Manual Delivery in Dashboard</label>
				<div class="col-md-8">
                   <input id="role-toggle2" name="role-toggle2" checked type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Enable Vendor Login</label>
				<div class="col-md-8">
                   <input id="role-toggle3" name="role-toggle3" checked type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Enable Auto Generate OrderId</label>
				<div class="col-md-8">
                   <input id="role-toggle4" name="role-toggle4" checked type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
            	</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-md-11">

			<div class="panel panel-default">
				<div class="panel-heading">Auto Generate Delivery Time</div>
				<div class="panel-body">
					<br/>
					<div class="form-group zeromargin">
						<label class="col-md-4 control-label">Enabled</label>
						<div class="col-md-8">
		                   <input id="role-toggle5" name="role-toggle4" checked type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-4 control-label">Time To Deliver (minutes)<span style="margin-left:5px"></span></label>
						<div class="col-md-8">
		                   	<input type="number" class="form-control" placeholder="Minutes from Order Time" name="minFromOrderTime" data-ng-model="vm.minFromOrderTime">
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-4 control-label">Delivery Time Window (minutes)<span style="margin-left:5px"></span></label>
						<div class="col-md-8">
		                   	<input type="number" class="form-control" placeholder="Delivery Time Window (minutes)" name="deliveryTimeWindow" data-ng-model="vm.deliveryTimeWindow">
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-4 control-label">Round-off Delivery Time (minutes)<span style="margin-left:5px"></span></label>
						<div class="col-md-8">
							<!--
		                   	<input type="number" class="form-control" placeholder="By 0, 15, 30 or 60 minutes" name="roundOffOrderTime" data-ng-model="vm.roundOffOrderTime">
		            		-->
		            		<select class="form-control" ng-model="vm.roundOffOrderTime" ng-options="roundOffOption.value as roundOffOption.label for roundOffOption in [{label:'None', value: null},{label:'To 15th Minute', value: 15},{label:'To 30th Minute', value: 30},{label:'To An Hour', value: 60}]"></select>
		            	</div>
					</div>
				</div>
			</div>

				</div>
			</div>
		</form>
		<div>
		 	<center>
	            <button type="button" class="btn btn-default" ng-click="vm.update();" data-ng-disabled="!vm.canupdate">Update</button>
	            <!--<a type="button" class="btn btn-danger" data-ng-if="vm.email == vm.loggedinusername" href="#/account/delete/{{vm.email}}">Delete Account</a>-->
	        </center>
	        <br/>
	        <hr/>
        </div>
        <div>  
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Currently Loggedin User</h5>
			<br/>
			<div>
				<form class="form-horizontal">
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Loggedin Email</label>
						<div class="col-md-8">
		                   	<h5 class="text-muted">{{vm.loggedinusername}}</h5>
		            	</div>
		            	<label class="col-md-3 control-label">Enable Email Notifications</label>
						<div class="col-md-8">
		                   	<input id="role-toggle5" name="role-toggle5" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="default" data-offstyle="default">
		            	</div>
					</div>
				</form>
				<center>
	            	<button type="button" class="btn btn-default" ng-click="vm.saveNotificationPref();">Save</button> <a type="button" class="btn btn-default" href="#/account/changepassword">Change Your Password</a>
	        	</center>
			</div>
			<hr/>
		</div>
		<div>  
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Account API Token</h5>
			<br/>
			<div data-ng-if="vm.token == null">
				<center>
	            	<button type="button" class="btn btn-default" ng-click="vm.getToken();">Get Token</button>
	        	</center>
			</div>
			<div data-ng-if="vm.token != null && vm.token.id != null">
				<form class="form-horizontal">
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Token</label>
						<div class="col-md-8">
		                   	<h5 class="text-muted">{{vm.token.id}}</h5>
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Generated on</label>
						<div class="col-md-8">
		                   	<h5 class="text-muted">{{vm.token.createdon}}</h5>
		            	</div>
					</div>
					<center data-ng-hide="vm.isdelete">
		            	<button type="button" class="btn btn-default" ng-click="vm.isdelete = true;">Expire</button>
		        	</center>
		        	<center data-ng-show="vm.isdelete">
		        		<span class="errortext">Token will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button type="button" class="btn btn-default" style="margin-top:15px" ng-click="vm.isdelete = false;">No</button>
			           	<button type="button" class="btn btn-default" style="margin-top:15px" ng-click="vm.deleteToken();">Yes</button>
		        	</center>
				</form>
			</div>
			<hr/>
		</div>
		<div>  
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Webhook URL</h5>
			<br/>
			<div data-ng-if="vm.token == null">
				<center>
		            <h5 class="text-muted">Generate account api token and then give webhook URL.</h5>
	        	</center>
			</div>

			<div data-ng-if="vm.token != null && vm.token.id != null">
				<form class="form-horizontal" name="urlform">
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': urlform.texturl.$invalid && urlform.texturl.$touched }">
						<label class="col-md-3 control-label">Url</label>
						<div class="col-md-8">
                   			<input type="url" class="form-control" placeholder="Webhook URL" name="texturl" data-ng-model="vm.webhookurl" required>
		                    <div data-ng-messages="urlform.texturl.$error" data-ng-if="vm.interacted(urlform.texturl)" class="error-messages">
		                        <div ng-message="required">Valid Webhook URL is required</div>
		                    </div>
		            	</div>
					</div>

					<center data-ng-hide="vm.urlisdelete">
						<button type="button" class="btn btn-default" ng-click="vm.saveWebhookUrl()" data-ng-disabled="vm.webhookurl == null || vm.webhookurl == undefined || vm.webhookurl == ''">Save</button>
		            	<button type="button" class="btn btn-default" ng-click="vm.urlisdelete = true;" data-ng-disabled="vm.webhookurl == null || vm.webhookurl == undefined || vm.webhookurl == ''">Delete</button>
		        	</center>
		        	<center data-ng-show="vm.urlisdelete">
		        		<span class="errortext">Webhook URL will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button type="button" class="btn btn-default" style="margin-top:15px" ng-click="vm.urlisdelete = false;">No</button>
			           	<button type="button" class="btn btn-default" style="margin-top:15px" ng-click="vm.deleteWebhookUrl(urlform);">Yes</button>
		        	</center>
				</form>
			</div>
			<hr/>
		</div>
    </div>
	<div class="col-xs-12 col-md-6">
        <h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Collaborators</h5>
        <div data-ng-include="'views/account/users/users.html'"></div>
        <hr/>
        <div>  
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Agent App Actions</h5>
			<small class="agentapp-status-help text-muted">Enable appropriate actions in the agent app and track the status of orders in dashboard.</small>
			<div data-ng-include="'views/account/agentappsettings/agentappsetting.html'"></div>
		</div>
	</div>
</div>