<br/>
<div data-ng-controller="accountdetail as vm">
	<div class="col-xs-12 col-md-6">
		<form class="form-horizontal" name="accountform">
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Account Details</h5>
			<br/>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Account Owner</label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="Account owner email" data-ng-model="vm.email" ng-readonly="true">
            	</div>
			</div>
			<div class="form-group zeromargin">
				<label class="col-md-3 control-label">Account Name</label>
				<div class="col-md-8">
                   	<input type="text" class="form-control" placeholder="Account name" name="textaccountname" data-ng-model="vm.accountname" ng-readonly="true">
            	</div>
			</div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textaddressline.$invalid && accountform.textaddressline.$touched }">
				<label class="col-md-3 control-label">Address</label>
				<div class="col-md-8">
                    <textarea type="text" class="form-control addresstextarea" placeholder="Address line" name="textaddressline" data-ng-model="vm.address.addressline" required maxLength="300" style="resize:none"> </textarea>
                    <div data-ng-messages="accountform.textaddressline.$error" data-ng-if="vm.interacted(accountform.textaddressline)" class="error-messages">
                        <div ng-message="required">Address required</div>
                    </div>
            	</div>
			</div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textcity.$invalid && accountform.textcity.$touched }">
				<label class="col-md-3 control-label">City</label>
				<div class="col-md-8">
                    <input type="text" class="form-control" placeholder="City" name="textcity" data-ng-model="vm.address.city" required ng-pattern="/^[a-zA-Z]*$/">
                    <div data-ng-messages="accountform.textcity.$error" data-ng-if="vm.interacted(accountform.textcity)" class="error-messages">
                        <div ng-message="required">City required</div>
                        <div ng-message="pattern">Enter only alphabets</div>
                    </div>
            	</div>
			</div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': accountform.textcountry.$invalid && accountform.textcountry.$touched }">
				<label class="col-md-3 control-label">Country</label>
				<div class="col-md-8">
                    <input type="text" class="form-control" placeholder="City" name="textcountry" data-ng-model="vm.address.country" required ng-pattern="/^[a-zA-Z]*$/">
                    <div data-ng-messages="accountform.textcountry.$error" data-ng-if="vm.interacted(accountform.textcountry)" class="error-messages">
                        <div ng-message="required">Country required</div>
                        <div ng-message="pattern">Enter only alphabets</div>
                    </div>
            	</div>
			</div>
		</form>
		<div>
		 	<center>
	            <button type="button" class="btn btn-default" ng-click="vm.update();" data-ng-disabled="!vm.canupdate">Update</button>
	            <a type="button" class="btn btn-default" href="#/account/changepassword">Change Password</a>
	        </center>
	        <br/>
	        <hr/>
        </div>
		<div>  
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Account Api Token</h5>
			<br/>
			<div data-ng-if="vm.token == null">
				<center>
	            	<button type="button" class="btn btn-default" ng-click="vm.getToken();">Get Token</button>
	        	</center>
			</div>
			<div data-ng-if="vm.token != null && vm.token.id != null">
				<form class="form-horizontal">
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Token</label>
						<div class="col-md-8">
		                   	<h5 class="text-muted">{{vm.token.id}}</h5>
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Generated on</label>
						<div class="col-md-8">
		                   	<h5 class="text-muted">{{vm.token.createdon}}</h5>
		            	</div>
					</div>
				</form>
			</div>
			<hr/>
		</div>
    </div>
	<div class="col-xs-12 col-md-6">
        <h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Collaborators</h5>
        <div data-ng-include="'views/account/users/users.html'"></div>
	</div>
</div>