<div data-ng-controller="deleteaccount as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" name="deleteform">
                    <h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Delete Account</h5>
                    </br>
                    <div class="form-group zeromargin" data-ng-class="{ 'has-error': deleteform.textcurrentpassword.$invalid && deleteform.textcurrentpassword.$touched }">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Account owner email" data-ng-model="vm.email" ng-readonly="true">
                        </div>
                    </div>
                    <div class="form-group zeromargin" data-ng-class="{ 'has-error': deleteform.textpwd.$invalid && deleteform.textpwd.$touched }">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Enter password" name="textpwd" required data-ng-model="vm.password">
                            <div data-ng-messages="deleteform.textpwd.$error" data-ng-if="vm.interacted(deleteform.textpwd)" class="error-messages">
                                <div ng-message="required">Password is required</div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <center>
                        <button type="button" class="btn btn-danger" data-ng-disabled="!vm.candelete" data-ng-click="vm.deleteuser()">Delete Account</button>
                        <a type="button" class="btn btn-default" href="#/account/detail">Cancel</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>