<div class="container-fluid">
	<div class="row">
		<a href="#/account/devices">
			<div class="col-xs-6 tm-tab">
				<span>Devices</span>
			</div>
		</a>
		<a href="">
			<div class="col-xs-6 tm-tab tm-tab-active">
				<span>Account</span>
			</div>
		</a>
	</div>
</div>

<div data-ng-controller="changepassword as vm">
	<div class="col-xs-12">
		<form class="form-horizontal" name="passform">
			<h4>Change Password</h4>
			</br>
			<div class="form-group" data-ng-class="{ 'has-error': passform.textcurrentpassword.$invalid && passform.textcurrentpassword.$touched }" style="margin:0px">
				<label class="col-md-3 control-label">Current password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Current password" name="textcurrentpassword" data-ng-model="vm.currentpassword" required>
                    <div data-ng-messages="passform.textcurrentpassword.$error" data-ng-if="vm.interacted(passform.textcurrentpassword)" class="error-messages">
                        <div ng-message="required">Current password required</div>
                    </div>
            	</div>
			</div>
			</br>
			 <div class="form-group" data-ng-class="{ 'has-error': passform.textnewpwd.$invalid && passform.textnewpwd.$touched }" style="margin:0px">
                <label class="col-md-3 control-label">Password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Password" name="textnewpwd" required minlength="8" data-ng-model="vm.password">
	                <div data-ng-messages="passform.textnewpwd.$error" data-ng-if="vm.interacted(passform.textnewpwd)" class="error-messages">
	                    <div ng-message="required">Password required</div>
	                    <div ng-message="minlength">Enter password with minimum 8 characters</div>
	                </div>
	            </div>
            </div>
			</br>
			<div class="form-group" data-ng-class="{ 'has-error': passform.textrepeatpwd.$invalid && passform.textrepeatpwd.$touched }" style="margin:0px">
                <label class="col-md-3 control-label">Repeat password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Repeat password" name="textrepeatpwd" required data-ng-model="vm.repeatpassword">
	                <div data-ng-messages="passform.textrepeatpwd.$error" data-ng-if="vm.interacted(passform.textrepeatpwd)" class="error-messages">
	                    <div ng-message="required">Repeat the password</div>
	                </div>
	            </div>
            </div>
		</form>
		<div>
			<center style="margin-top: 20px"><span ng-show="vm.repeatpwderror" style="color: #bf1c1c;">Password and Repeat password should be same</span></center>
		 	</br>
		 	<center>
	            <button type="button" class="btn btn-primary" ng-click="vm.changepassword();" data-ng-disabled="!vm.canchangepassword">Change password</button>
	            <a type="button" class="btn btn-default" href="#/account/detail">Cancel</a>
	        </center>
        </div>
	</div>
</div>