<div data-ng-controller="changepassword as vm">
	<div class="col-xs-12">
		<form class="form-horizontal" name="passform">
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Change Password</h5>
			</br>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': passform.textcurrentpassword.$invalid && passform.textcurrentpassword.$touched }">
				<label class="col-md-3 control-label">Current password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Current password" name="textcurrentpassword" data-ng-model="vm.currentpassword" required>
                    <div data-ng-messages="passform.textcurrentpassword.$error" data-ng-if="vm.interacted(passform.textcurrentpassword)" class="error-messages">
                        <div ng-message="required">Current password required</div>
                    </div>
            	</div>
			</div>
			 <div class="form-group zeromargin" data-ng-class="{ 'has-error': passform.textnewpwd.$invalid && passform.textnewpwd.$touched }">
                <label class="col-md-3 control-label">New password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="New password" name="textnewpwd" required minlength="8" data-ng-model="vm.password">
	                <div data-ng-messages="passform.textnewpwd.$error" data-ng-if="vm.interacted(passform.textnewpwd)" class="error-messages">
	                    <div ng-message="required">Password required</div>
	                    <div ng-message="minlength">Enter password with minimum 8 characters</div>
	                </div>
	            </div>
            </div>
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': passform.textrepeatpwd.$invalid && passform.textrepeatpwd.$touched }">
                <label class="col-md-3 control-label">Repeat new password</label>
				<div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Repeat new password" name="textrepeatpwd" required data-ng-model="vm.repeatpassword">
	                <div data-ng-messages="passform.textrepeatpwd.$error" data-ng-if="vm.interacted(passform.textrepeatpwd)" class="error-messages">
	                    <div ng-message="required">Repeat the password</div>
	                </div>
	            </div>
            </div>
		</form>
		<div>
			<center class="margintop20"><span data-ng-show="vm.repeatpwderror" class="errortext">Password and Repeat password should be same</span></center>
		 	</br>
		 	<center>
	            <button type="button" class="btn btn-default" ng-click="vm.changepassword();" data-ng-disabled="!vm.canchangepassword">Change Password</button>
	            <a type="button" class="btn btn-default" href="#/account/detail">Cancel</a>
	        </center>
        </div>
	</div>
</div>