<div data-ng-controller="users as vm">
    <div class="input-group input-group-lg livemapsearch">
		<input type="text" class="form-control tm-search-text tm-no-outline fullwidth" placeholder="Search email / role / status" data-ng-model="search" />
	    <div class="input-group-btn">
	    	<button type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.adduser()"><span class="glyphicon glyphicon-plus"></span></button>
	    </div>
	</div>
    <br/>
	<div class="col-xs-12 fullwidth zeropadding">
		<div class="tm-alerts-summary devicelistbox" data-ng-repeat="user in vm.users | filter:search">
			<div class="marginleft10" data-ng-click="vm.edituser($index)">
				<h4>{{user.email}}</h4>
				<div class="margintop15">
					<span class="glyphicon glyphicon-user fontsize13"></span><label class="marginleft5 fontsize13">{{user.admin}}</label>
					<br/>
					<span class="glyphicon glyphicon-flash fontsize13"></span><label class="marginleft5 fontsize13">{{user.status}}</label>
					<br/>
					<span data-ng-if="user.status == 'Joined'" class="glyphicon glyphicon-calendar fontsize13"></span><label class="marginleft5 fontsize13">{{user.joinedon}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" data-ng-show="vm.shownousers">
		<center>No Collaborators available. Click + on the search bar to add new.</center>
	</div>
</div>
