<div data-ng-controller="user as vm">
	<div class="col-xs-12">
		<form class="form-horizontal" name="userform">
			<h4 data-ng-hide="vm.isEdit">Add user</h4>
			<h4 data-ng-show="vm.isEdit">Edit user</h4>
			<br/>
			
			<div class="form-group zeromargin" data-ng-class="{ 'has-error': userform.txtUsername.$invalid && userform.txtUsername.$touched }">
				<label class="col-md-3 control-label">Email</label>
				<div class="col-md-6">
                    <input type="email" class="form-control" id="txtUsername" name="txtUsername" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" data-ng-model="vm.userName" required placeholder="Email" ng-readonly="vm.isEdit">
                    <div data-ng-if="vm.useralreadyinvited == true">
                    	<i class="glyphicon glyphicon-remove errortext"></i><span class="marginleft5 errortext">User already invited</span>
                    </div>
                    <div data-ng-messages="userform.txtUsername.$error" data-ng-if="vm.interacted(userform.txtUsername, true)" class="error-messages">
                        <div ng-message="required">Email required</div>
                        <div ng-message="pattern">Enter valid email</div>
                    </div>
            	</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Role</label>
				<div class="col-md-6" style=" width: 226px; margin-left: 15px; padding: 0px; border: 1px solid #2e6da4; border-radius: 4px;">
                    <button ng-class="{ 'btn btn-primary': vm.isAdmin, 'btn btn-default': !vm.isAdmin}" style=
                    "width:110px; border: 0px;  border-radius: 0px;" data-ng-click="vm.roleType('admin')">Admin</button>
					<button style=" border: 0px; border-radius: 0px; width: 110.5px;" ng-class="{ 'btn btn-primary': !vm.isAdmin, 'btn btn-default': vm.isAdmin}" data-ng-click="vm.roleType('notadmin')">Not Admin</button>
            	</div>	
            </div>
		</form>
		<div>
		 	<br/>
		 	<center data-ng-hide="vm.isdelete">
	            <button data-ng-hide="vm.isEdit" type="button" class="btn btn-primary" ng-click="vm.adduser();" data-ng-disabled="!vm.canAdd">Add</button>
	            <button data-ng-show="vm.isEdit" type="button" class="btn btn-primary" ng-click="vm.edituser();" data-ng-disabled="!vm.canAdd">Update</button>
	            <button data-ng-show="vm.isEdit" type="button" class="btn btn-default" ng-click="vm.resendemail();">Resend email</button>
	            <a type="button" class="btn btn-default"  data-ng-disabled="!vm.canAdd" href="#/account/users">Cancel</a>
	           	<button data-ng-show="vm.isEdit" type="button" class="btn btn-default" data-ng-disabled="!vm.canAdd" ng-click="vm.deleteuser();">Delete</button>
	        </center>
	        <center data-ng-show="vm.isdelete">
        		<span class="errortext">User will be deleted permanently, do you want to delete it? </span>
        		<br/>
        		<button style="margin-top:10px" type="button" class="btn btn-default" data-ng-disabled="!vm.canAdd" ng-click="vm.deletecancel();">No</button>
	           	<button style="margin-top:10px" type="button" class="btn btn-default" data-ng-disabled="!vm.canAdd" ng-click="vm.deleteconfirm();">Yes</button>
        	</center>
        </div>
	</div>
</div>