<div data-ng-controller="users as uservm">
	<br/>
    <div class="input-group input-group-lg livemapsearch" data-ng-hide="uservm.showadduser">
		<input type="text" class="form-control tm-search-text tm-no-outline fullwidth" placeholder="Enter email to add collaborator" data-ng-model="uservm.search" 
		 />
	    <div class="input-group-btn">
	    	<button type="button" class="btn btn-default tm-no-outline" data-ng-click="uservm.adduser()"><span class="glyphicon glyphicon-plus"></span></button>
	    </div>
	</div>
    <br/>
	<div class="container-fluid" data-ng-hide="uservm.showadduser">
	    <div class="row">
			<div class="col-xs-12 tripblock">
				<div data-ng-repeat="user in uservm.users">
					<div class="col-xs-12 col-md-6 tm-card-wrap ng-scope">
						<div class="col-md-12 tripdetail tripblock stick-list" ng-click="uservm.edituser($index)">
							<div class="row tripblock">
								<div class="col-xs-12">
									<h4 class="ng-binding" style="margin-top:0px;padding-top:0px;margin-bottom:0px;">
										{{user.email}}
									</h4>
								</div>
							</div>
							<div class="space-6"></div>
							<div class="row tripblock">
								<div class="col-xs-12">
									<h5 class="ng-binding text-muted zeropadding zeromargin">{{user.admin}} | {{user.status}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/><br/> 
	</div>

	<div class="col-xs-12" data-ng-show="uservm.shownousers">
		<center>No Collaborators available. Click + to add new.</center>
	</div>

	<div data-ng-if="uservm.showadduser">
		<div data-ng-include="'views/account/users/user.html'"></div>
	</div>
</div>
