<div data-ng-controller="customers as vm">
	<div class="input-group input-group-lg livemapsearch">
		<input type="text" class="form-control tm-search-text tm-no-outline fullwidth" placeholder="Search customers" data-ng-model="vm.search" 
		 />
	    <div class="input-group-btn">
	    	<a type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.exportCustomers()"><span class="glyphicon glyphicon-download-alt"></span></a>
	    </div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="row col-xs-12">
				<div>
					<br/>
					<div>
						<h5 class="tm-heading tripsheading" style="margin-left:14px;"><span class="glyphicon glyphicon-chevron-right" style="margin-right:1px"></span>Customers | Total: {{vm.customers.length}}
						</h5>
				    </div>
			    </div>
			</div>
			<div class="col-xs-12" data-ng-if="vm.customers.length > 0">
				<table id="customertable" name="customertable" style="margin-top:15px;">
					<thead>
						<tr class="cakebeecolor">
							<th> Customer name</th>
							<th> Mobile number</th>
							<th> Address</th>
							<th> Zipcode</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="customer in vm.customers | filter:vm.search | itemsPerPage: vm.pageSize" current-page="vm.currentPage">
							<td class="customertd"> {{customer.name}} </td>
							<td class="customertd"> {{customer.mobile}} </td>
							<td class="customertd"> {{customer.address}} </td>
							<td class="customertd"> {{customer.zip}} </td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div class="other-controller">
			          <div class="text-center">
			          	<dir-pagination-controls boundary-links="true" template-url="/views/customers/dirPagination.tpl.html">
			          	</dir-pagination-controls>
			          </div>
			    </div>
			</div>
			<div class="col-xs-12" data-ng-show="vm.customers.length==0" style="margin-top:10%">
				<br/>
				<p class="text-muted center"></span>No customer available.</p>
				<br/>
			</div>
		</div> <!-- row -->
	</div> <!--container -->
</div>

