<div ng-controller="assignuser as vm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Select User</h5>
				<div ng-repeat="user in vm.users" style="margin-left: 20px">
					 <label style="margin-top: 10px"><input type="radio" name="order" ng-model="vm.selecteduser" value="{{user.deviceid}}" style="margin-right: 10px"/>{{user.vehiclenumber}}</label>
				</div>
				<div>
				 	<center data-ng-hide="vm.isdelete">
			            <button data-ng-hide="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.assignUser();" data-ng-disabled="!vm.canAdd">Assign Order</button>
			           	<button type="button" class="margintop15 btn btn-default" ng-click="vm.cancel();">Canel</button>
			        </center>
			    </div>
			</div>
		</div>
	</div>
</div>