<div data-ng-controller="assignagent as vm">
	<div style="margin-top:10px;">
		<div class="orderfilter">
			<h5 class="tm-heading tripsheading" style="margin-right:5px">Delivery date</h5>
			<input class="width170" data-ng-if="vm.isdatesupport" id="ordersdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
			<div data-ng-if="!vm.isdatesupport" class="width170" style="display: inline-block;height:22px;">
	            <div class='input-group date' lb-datepicker>
	                <input type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
       		 </div>
       		 <a style="margin-left:10px; text-decoration: underline !important;" href="#/orders">List View</a>
       	</div>
    </div>
    <div class="row col-xs-12" style="margin-top:10px; font-size:14px !important; color:gray">
    	<!--Orders assigned by Agents-->
    	<div class="col-md-6">
    		<span style="color:black"><span class="glyphicon glyphicon-chevron-right" style="margin-right:1px; margin-bottom:14px;"></span>Agent Orders</span>
    		<br/>
    		<div class="col-xs-12" data-ng-repeat="user in vm.agentorders" style="border:1px solid rgba(211, 211, 211, 0.48);border-radius:10px; margin-top:10px;">
    			<div style="margin-bottom:10px; margin-top:5px;">
	    			<h5 style="font-weight:bold">
	    				<img data-ng-show="user.loggedin==true" src="assets/images/greendot.png" class="ordicon" style="margin-top:-2px;"></img>
	    				<img data-ng-show="user.loggedin==false" src="assets/images/reddot.png" class="ordicon" style="margin-top:-2px;"></img>
	    				<span style="color:black">{{user.vehiclenumber}}</span>
	    			</h5>
	    			<div data-ng-repeat="order in user.orders" style="margin-top:5px; margin-left:40px;">
	    				<div style="width:140px;position: absolute;">{{order.time}}</div>
	    				<div style="margin-left:140px;">
	    					<span data-ng-repeat="orddetail in order.data" class="badge" ng-class="{badgegreen: orddetail.delivered}" data-toggle="tooltip" lb-tooltip="{{orddetail}}" data-ng-click="vm.unassignorder(orddetail)" style="cursor: pointer;"> {{orddetail.ordernumber}}</span>
	    				</div>
	    			</div>
	    		</div>
    		</div>
    		<!--Agents without order-->
    		<div class="col-xs-12 nopadding" style="margin-top:10px;">
	    		<div data-ng-repeat="user in vm.noordersagents" style="margin-top:10px; color:gray">
	    			<h5>
	    				<img data-ng-show="user.loggedin==true" src="assets/images/greendot.png" class="ordicon" style="margin-top:-2px;"></img>
	    				<img data-ng-show="user.loggedin==false" src="assets/images/reddot.png" class="ordicon" style="margin-top:-2px;"></img>
	    				{{user.vehiclenumber}}
	    			</h5>
	    		</div>
	    	</div>
    	</div>
    	<!--Unassigned Order-->
    	<div class="col-md-6" style="margin-bottom:100px;">
    		<span style="color:black"><span class="glyphicon glyphicon-chevron-right" style="margin-right:1px"></span>Unassigned Orders</span>
    		<span style="margin-left:10px; border-radius:50% !important" class="badge">{{vm.unassignedordercount}}</span>
			<br/>
			<div class="col-xs-12" data-ng-repeat="unassignorder in vm.unassignorders" style="border:1px solid rgba(211, 211, 211, 0.48);border-radius:10px; margin-top:10px;">
				<h5 style="color:black;">{{unassignorder.time}}</h5>
				<div style="margin-top:15px; margin-left:40px; margin-bottom:10px;" data-ng-repeat="order in unassignorder.data">
					<span>#{{order.ordernumber}}</span>
					<div data-ng-show="vm.showassign == true" style="float:right">
						<div class="dropdown">
							<button type="button" class="btn btn-default dropbtn orderdisplaybtn" data-ng-click="vm.dropdownclicked($parent.$index, $index)">Assign</button>
							<div id="userdropdown{{$parent.$index}}{{$index}}" class="dropdown-content">
							    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == true">
							    	<img src="assets/images/greendot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>
							    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == false"><img src="assets/images/reddot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>
							</div>
						</div>
					</div>
					<br/>
					<span><i class="glyphicon glyphicon-user ordicon"></i>{{order.name}}</span>
					<br/>
					<span><i class="glyphicon glyphicon-map-marker ordicon"></i>{{order.address}} {{order.zip}}</span>
					<br/>
					<span data-ng-if="order.productdesc"><i class="glyphicon glyphicon-gift ordicon"></i>{{order.productdesc}}</span>
					<br/>
					<div style="margin-top:3px;">
						<span data-ng-repeat="tag in order.tagsdetail"class="badge {{tag.tagcolor}}">{{tag.tag}}</span>
					</div>
					<hr data-ng-show="$index != (unassignorder.data.length-1)">
				</div>
			</div>
    	</div>
    </div>
</div>