<div class="container-fluid">
	<div class="row">
		<div class="row col-xs-12">
			<div>
				<div style="margin-top:5px">
					<div class="orderfilter" style="display: inline !important">
						<input class="width150" data-ng-if="vm.isdatesupport" id="ordersdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
						<div data-ng-if="!vm.isdatesupport" class="width150">
				            <div class='input-group date' lb-datepicker>
				                <input type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)"/>
				                <span class="input-group-addon">
				                    <span class="glyphicon glyphicon-calendar"></span>
				                </span>
				            </div>
			       		 </div>
			       	</div>
			        <div class="orderfilter marginleft10"  style="display: inline !important">
			        	<div ng-dropdown-multiselect="" options="vm.statusoptions" selected-model="vm.selectedStatus" extra-settings="vm.statussselectsettings" events="vm.statusevents" checkboxes="true" class="width170" style="height:35px;display:inline"></div>
			        </div>
			        <div class="orderfilter marginleft10" style="display: inline-block !important; width:auto">
			        	<span><span id="totalorderspan"></span> orders </span> | <span> Rs. <span id="totalamount"></span> amount to collect</span>
			        </div>
			    </div>
		    </div>
		</div>
		<div class="col-xs-12" data-ng-if="vm.filterOrders.length > 0" style="margin-bottom:300px;">
			<br/>
			<div class="col-xs-12" data-ng-repeat="order in vm.filterOrders | filter: vm.search as filterresults" style="border-top: 1px solid rgba(128, 128, 128, 0.33); padding: 10px;">
				{{vm.getTotalAmount(filterresults)}}
				<span>{{order.ordernumber}} ( {{order.time }} )</span> 
				<br/>
				<span>{{order.name}}<i style="float:right" class="glyphicon glyphicon-pencil" data-ng-click="vm.orderClicked(order)"></i></span>
				<br/>
				<small>{{order.address}} {{order.zip}}</small>
				<br/>
				<br/>
				<div data-ng-show="order.status != null" style="float:right">
					<div data-ng-if="vm.showassign == true && (order.status == 'Yet to accept' || order.status == 'Accepted' || order.status == 'Picked up')">
						<div data-ng-click="vm.unassignorder(order)" style="float:right;margin-top: -10px;">
							<span class="drivername">{{order.vehiclenumber}}</span>
							<i class="glyphicon glyphicon-remove unassgincolor marginleft10"></i>
						</div>
					</div>
					<div data-ng-show="vm.showassign == false && order.status == 'Yet to accept'">
						<span class="drivername">{{order.vehiclenumber}}</span>
					</div>
					<div data-ng-show="order.status == 'Accepted'">									
						<span class="drivername">{{order.vehiclenumber}}</span> </br>
						<small>Accepted @ {{order.acceptedon}}</small>
					</div>
					<div data-ng-show="order.status == 'Picked up'">
						<small>Picked @ {{order.pickedon}}</small>
					</div>
					<div data-ng-show="order.status == 'Delivered'">
						<span class="drivername">{{order.vehiclenumber}}</span> </br>
						<small>{{order.pickedon}} - {{order.deliveredon}}</small>
					</div>
					<div data-ng-if="order.cancelled == true">
						<span>Cancelled</span> </br>
						<span data-ng-if="order.cancelledon">@ {{order.cancelledon}}</span>
					</div>
				</div>
				<div data-ng-show="order.status == null && order.deviceid != null && vm.showassign==false" style="float:right">
					<span class="drivername">{{order.vehiclenumber}}</span> </br>
				</div>
				<div data-ng-show="order.status == null && vm.showassign == true" style="float:right">
					<div class="dropdown" data-ng-show="order.deviceid == null">
						<button type="button" class="btn btn-default dropbtn orderdisplaybtn" data-ng-click="vm.dropdownclicked($index)">Assign</button>
						<div id="userdropdown{{$index}}" class="dropdown-content">
						    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == true">
						    	<img src="assets/images/greendot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

						    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == false"><img src="assets/images/reddot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

						    <a data-ng-if="vm.manualdelivery==true" type="button" style="margin-top:10px;"  confirm on-confirm="vm.markasDelivered(order)">Mark as Delivered</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" data-ng-show="!vm.showallcars && vm.filterOrders.length==0">
			<br/>
			<p class="text-muted"></span>No orders available for selected filters.</p>
			<br/>
		</div>
	</div> <!-- row -->
</div> <!--container -->
