<div data-ng-controller="order as vm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<form class="form-horizontal" name="orderform">
					<h5 class="tm-heading" data-ng-hide="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Add Order</h5>
					<h5 class="tm-heading" data-ng-show="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Update Order
						<br/>
						<div data-ng-if="vm.order.createdat != null" style="margin-left:18px; margin-top:8px" class="small">{{vm.order.createdat}}</div>
					</h5>

					<br/>
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textordernumber.$invalid && orderform.textordernumber.$touched }">
						<label class="col-md-3 control-label">Order number<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Order Number" name="textordernumber" data-ng-model="vm.order.ordernumber" required ng-readonly="vm.isOrderEdit">
		                    <div data-ng-messages="orderform.textordernumber.$error" data-ng-if="vm.interacted(orderform.textordernumber)" class="error-messages">
		                        <div ng-message="required">Order number required</div>
		                    </div>
		            	</div>
		            </div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textmobilenumber.$invalid && orderform.textmobilenumber.$touched }">
						<label class="col-md-3 control-label">Customer mobile number<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" autocomplete="off" splaceholder="Enter a Customer Mobile Number" name="textmobilenumber" data-ng-model="vm.order.mobilenumber" typeahead="cust.mobile as cust.mobile for cust in vm.mobilenumbers | filter:{mobile:$viewValue}" typeahead-template-url="customerElement.html" typeahead-on-select="vm.mobileselected($item, $model, $label)" class="form-control" ng-pattern="/^[0-9+]*$/" ng-readonly="vm.order.cancelled" data-ng-change="vm.mobilechanged()" required maxLength="10" minLength="10">
		                    <div data-ng-messages="orderform.textmobilenumber.$error" data-ng-if="vm.interacted(orderform.textmobilenumber)" class="error-messages">
		                        <div ng-message="required">Customer mobile number required</div>
		                        <div ng-message="pattern">Enter a valid mobile number</div>
		                        <div ng-message="minlength">Enter a valid mobile number</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomername.$invalid && orderform.textcustomername.$touched }">
						<label class="col-md-3 control-label">Customer name<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer Name" name="textcustomername" data-ng-model="vm.order.name" required ng-readonly="vm.order.cancelled">
		                    <div data-ng-messages="orderform.textcustomername.$error" data-ng-if="vm.interacted(orderform.textcustomername)" class="error-messages">
		                        <div ng-message="required">Customer name required</div>
		                    </div>
		            	</div>
					</div>
					
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomeraddress.$invalid && orderform.textcustomeraddress.$touched }">
						<label class="col-md-3 control-label">Customer address<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<textarea type="text" class="form-control" placeholder="Enter a Customer Address" name="textcustomeraddress" data-ng-model="vm.order.address" required ng-readonly="vm.order.cancelled"></textarea>
		                    <div data-ng-messages="orderform.textcustomeraddress.$error" data-ng-if="vm.interacted(orderform.textcustomeraddress)" class="error-messages">
		                        <div ng-message="required">Customer address required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomerzip.$invalid && orderform.textcustomerzip.$touched }">
						<label class="col-md-3 control-label">Customer zipcode<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer ZipCode" name="textcustomerzip" data-ng-model="vm.order.zip" required ng-readonly="vm.order.cancelled" ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="orderform.textcustomerzip.$error" data-ng-if="vm.interacted(orderform.textcustomerzip)" class="error-messages">
		                        <div ng-message="required">Customer zipcode required</div>
		                        <div ng-message="pattern">Enter valid zipcode</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label"></label>
						<div class="col-md-6 checkdist">
							<button type="button" class="btn btn-default" data-ng-click="vm.checkdistclicked()" data-ng-hide="vm.checkdistance || vm.order.cancelled">Check Distance</button>
							<div ng-include src="'views/orders/distance.html'"> </div>
		            	</div>
					</div>

			        <div class="form-group zeromargin">
						<label class="col-md-3 control-label">Items</label>
						<div class="col-md-6">
							<div class="col-md-12 nopadding" style="margin-bottom:10px;" data-ng-repeat="product in vm.products">
								<div class="col-md-5 orderitem">
									<input type="text" class="form-control" placeholder="Enter Item Name" data-ng-model="product.name" typeahead="prod.name as prod.name for prod in vm.productslist | filter:{name:$viewValue}" typeahead-template-url="typeaheadElement.html" typeahead-on-select="vm.productselected($item, $model, $label, product)" data-ng-change="vm.productChanged(product)" ng-readonly="vm.order.cancelled" />
									<small data-ng-if="vm.trackinventory==true && product.inventory != null">Inventory: {{product.inventory}}</small>
								</div>
								<div class="col-md-4 orderitem">
									<input type="text" class="form-control" placeholder="Enter Quantity" data-ng-model="product.quantity" data-ng-change="vm.quantityChanged(product)" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
									<small data-ng-if="product.inventoryerror == true && product.noquantity == true" style="color:#bf1c1c">Quantity is required</small>
									<small data-ng-if="product.inventoryerror == true && product.noquantity == false" style="color:#bf1c1c">Quantity more than inventory</small>
								</div>
								<div class="col-md-2 orderitem">
									<input type="text" class="form-control" placeholder="Enter Price" data-ng-model="product.price" data-ng-change="vm.priceChanged(product)" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
								</div>
								<div class="col-md-1 nopadding">
									<a class="pop-over-header-close-btn" style="font-size: 20px; margin-top: -11px;" data-ng-click="vm.removeproduct($index)" data-ng-hide="vm.order.cancelled">x</a>
								</div>
								<br/>
							</div>
							<br/>
							<div class="col-md-12 nopadding" style="margin-bottom:20px;">
								<button type="button" data-ng-click="vm.addproduct()" class="btn btn-success" data-ng-disabled="vm.order.cancelled">Add Item</button>
							</div>
							<br/>
							<textarea type="text" class="form-control" placeholder="Items Summary" name="textproductname" data-ng-model="vm.order.productdesc" ng-readonly="vm.order.cancelled"></textarea>
		                </div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textamount.$invalid && orderform.textamount.$touched }">
						<label class="col-md-3 control-label">Amount to collect from customer</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a amount to collect from customer" name="textamount" data-ng-model="vm.order.amount" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
		                    <div data-ng-messages="orderform.textamount.$error" data-ng-if="vm.interacted(orderform.textamount)" class="error-messages">
		                        <div ng-message="required">Amount to collect from customer required</div>
		                        <div ng-message="pattern">Enter a valid amount</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Delivery date<span style="margin-left:5px;">*</span></label>
						<div class="col-md-6">						
							<input data-ng-if="vm.isdatesupport" id="orderdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit">
							<div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group" style="width:94%; display: inline">
					            <div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group width170">
					            <div class='input-group date' lb-datepicker >
					                <input id="orderdate" type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit"/>
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
			            			</div>
			        			</div>
					        </div>
					    </div>
			        </div>

			        <div class="form-group zeromargin">
						<label class="col-md-3 control-label">Delivery time<span style="margin-left:5px;">*</span></label>
				        <div id="time-range" class="col-md-6">
						    <p>Time Range: <span class="slider-time">{{vm.time1}}</span> - <span class="slider-time2">{{vm.time2}}</span>

						    </p>
						    <div class="sliders_step1">
						        <div id="slider-range" time-slider timeone="vm.time1" timetwo="vm.time2" iscancelled="vm.order.cancelled"></div>
						    </div>
						</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Notes</label>
						<div class="col-md-6">
							<textarea type="text" class="form-control" placeholder="Enter Notes" name="textnotes" data-ng-model="vm.order.notes" ng-readonly="vm.order.cancelled"></textarea>
		                </div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Tags</label>
		                <div class="col-md-6">
		                	<div class="tagsborder">
		                		<div style="margin-top:5px; margin-left:5px">
									<a data-ng-repeat="tag in vm.tagsdetail" data-ng-click="vm.removetag(tag)" class="badge {{tag.tagcolor}}">{{tag.tag}}</a>
								</div>
								<div data-ng-if="vm.tagsdetail.length <= 0" style="margin-left:10px; margin-top:10px;">
									<span class="mute-text">Click the tag below to add it to order</span>
								</div>
							</div>
						</div>
					</div>

					<div ng-include src="'views/orders/tagtmp.html'" data-ng-hide="vm.order.cancelled"> </div>
				</form>
				<div>
				 	<center data-ng-hide="vm.isdelete || vm.iscancel">
			            <button data-ng-hide="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.addorder();" data-ng-disabled="!vm.canAdd">Add Order</button>
			            <button data-ng-show="vm.isOrderEdit && !vm.order.cancelled" type="button" class="margintop15 btn btn-default" ng-click="vm.updateorder();" data-ng-disabled="!vm.canAdd">Update Order</button>
			            <button data-ng-show="vm.isOrderEdit && !vm.order.cancelled" type="button" class="margintop15 btn btn-default" ng-click="vm.cancelorder();">Cancel Order</button>
			           	<button data-ng-show="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.deleteorder();">Remove Order</button>
			           	<button type="button" class="margintop15 btn btn-default" data-ng-if="vm.order.status=='Delivered' && !vm.order.cancelled && vm.order.deliveredon != null" data-ng-click="vm.viewtrip()">View trip</button>
			           	<button type="button" class="margintop15 btn btn-default" ng-click="vm.cancel();">Go Back</button>
			        </center>
		        	<center data-ng-show="vm.isdelete">
		        		<span class="errortext">Order will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deletecancel();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deleteconfirm();">Yes</button>
		        	</center>
		        	<center data-ng-show="vm.iscancel">
		        		<span class="errortext">Order will be cancelled but not deleted, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.cancelcancelled();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.cancelconfirm();">Yes</button>
		        	</center>
		        	<br/><br/>
		    	</div>
		    </div>
		</div> <!-- row ends -->
	</div> <!-- container ends -->
</div>

<script type="text/ng-template" id="typeaheadElement.html">
  <a class="typeheadanchor" style="height: 54px !important">
      <span class="blackcolor">{{match.label}}</span>
      <br/>
      <small style="color:gray">Rs. {{match.model.price}}</small>
  </a>
</script>

<script type="text/ng-template" id="customerElement.html">
  <a class="typeheadanchor" style="height: 54px !important">
      <span class="blackcolor">{{match.label}}</span>
      <br/>
      <small style="color:gray">{{match.model.name}}</small>
  </a>
</script>

