<div data-ng-controller="ordertrip as vm">
	<div class="tm-live-map">
		<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options="vm.mapOptions">
			<ui-gmap-marker coords="vm.startmarker.coords" options="vm.startmarker.options" events="vm.startmarker.events" idkey="vm.startmarker.id"></ui-gmap-marker>
			<ui-gmap-marker coords="vm.endmarker.coords" options="vm.endmarker.options" events="vm.endmarker.events" idkey="vm.endmarker.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
	<div data-ng-if="vm.showmap" class="tm-live-summary">
		<h4 class="tm-live-today" style="margin-top:0px;">Order #: {{vm.selectedorder.ordernumber}}</h3>
		<div class="tm-live-distance">
			<span>{{vm.selectedorder.vehiclenumber}}</span></br/>
			<div class="margintop5"> <i class="glyphicon glyphicon-flash"></i> ~{{vm.distance}} km | {{vm.time}}</div>
			<div class="margintop5"> <i class="glyphicon glyphicon-calendar"></i> {{vm.date}}</div>
			<div class="margintop5"> <i class="glyphicon glyphicon-time"></i> {{vm.selectedorder.pickedon}} to {{vm.selectedorder.deliveredon}}</div>
		</div>
		<button type="button" class="btn btn-info btn-xs" style="background-color:rgba(204, 204, 204, 0.52); margin-top:10px;" data-ng-click="vm.gotoorder()">
			<i class="glyphicon glyphicon-arrow-left"></i> Back to order
		</button>
	</div>
</div>
	