<div class="row" data-ng-show="vm.showmaps" data-ng-controller="ordermap as omapvm">	
	<div class="row col-xs-12">
		<div>
			<div class="tm-live-map">
				<ui-gmap-google-map center='omapvm.map.center' zoom='omapvm.map.zoom' options="omapvm.mapOptions" id="map_canvas" name="map_canvas">
				<ui-gmap-markers id="map_markers" models="vm.filterOrders" coords="'self'" options="'options'" events="omapvm.markersEvents" doCluster="omapvm.docluster" clusterOptions="omapvm.clusterOptions"></ui-gmap-markers>
				</ui-gmap-google-map>
			</div>

			<!--Location Unidentified-->
			<div class="mapleftdiv" data-ng-show="vm.nolocationOrder.length >0">
			    <center style="margin-bottom:15px;">Location Unidentified Orders </center>
			    <ul class="nav navbar-nav" style="overflow:auto; max-height:400px;">
				    <li data-ng-repeat="ord in vm.nolocationOrder" class="nolocationli" data-ng-click="omapvm.nolocationorderclicked(ord)">
				    	<span>#{{ord.ordernumber}}</span><span style="font-weight:bold" class="marginleft5">({{ord.time}})</span>
				    	<br/>
				    	<small class="text-muted">{{ord.address}}</small>
				    	<div data-ng-if="ord.status != null">
							<div data-ng-if="ord.status == 'Yet to accept'">
								<small>{{ord.vehiclenumber}}</small>
							</div>
							<div data-ng-if="ord.status == 'Accepted'">									
								<small>Accepted @ {{ord.acceptedon}}</small>
							</div>
							<div data-ng-if="ord.status == 'Picked up'">
								<small>{{ord.vehiclenumber}} Picked @ {{ord.pickedon}}</small>
							</div>
							<div data-ng-if="ord.status == 'Delivered'">
								<div data-ng-if="ord.markeddeliveredon == null">
									<small>{{ord.vehiclenumber}} {{ord.pickedon}} - {{ord.deliveredon}}</small>
								</div>
								<div data-ng-if="ord.markeddeliveredon != null">
									<small data-ng-if="ord.markeddelivereddriver != null" style="margin-right:5px;">{{ord.markeddelivereddriver}}</small><small> Marked as delivered @ {{ord.pickedon}}</small>
								</div>
							</div>
							<div data-ng-if="ord.cancelled == true">
								<small>Cancelled</small> <small class="marginleft5" data-ng-if="ord.cancelledon">@ {{ord.cancelledon}}</small>
							</div>
						</div>
				    </li>
				</ul>
			</div>

			<div class="mapcenterdiv">
				<span style="color: #333; font-weight: bolder;">{{vm.filterOrders.length}} Orders</span>
			</div>


			<!--View in table-->
			<div class="maprighttdiv">
				<a style="font-size:20px; color:black; margin-left:10px;" data-ng-click="vm.showMapClicked()" class="glyphicon glyphicon-th-list" title='View orders in table' data-toggle="tooltip" data-placement="top" tooltip></a>
			</div>

			<div class="filteroption">
				<!--Assign-->
			 	<div class="filterbtn" id="filterbutton" data-ng-click="omapvm.showorhidefilter($event)">
			 		<span data-ng-show="omapvm.isfilterclicked">Close</span>
			 		<span data-ng-hide="omapvm.isfilterclicked">Filter</span>
			 	</div>
			 	
			 	<div class="filterdiv">
					<input class="ordermapfilterwidth" data-ng-if="vm.isdatesupport" id="ordersdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
					<div data-ng-if="!vm.isdatesupport" class="ordermapfilterwidth" style="display: inline-block;height:22px;">
			            <div class='input-group date' lb-datepicker>
			                <input type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
			                <span class="input-group-addon">
			                    <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
		       		 </div>

		       		<div style="margin-top:10px;" class="ordermapfilterwidth">
					    <select style="height:35px; width:82px; display:inline" ng-model="vm.time1" ng-options="option.id as option.value for option in vm.time1options" data-ng-change="vm.timefilter()"></select>
					    <select style="height:35px; width:82px; margin-left:10px; display:inline" ng-model="vm.time2" ng-options="option.id as option.value for option in vm.time2options" data-ng-change="vm.timefilter()"></select>
			        </div>

			        <div style="margin-top:10px;">
			        	<div ng-dropdown-multiselect="" options="vm.statusoptions" selected-model="vm.selectedStatus" extra-settings="vm.statussselectsettings" events="vm.statusevents" checkboxes="true" class="ordermapfilterwidth" style="height:35px;display:inline"></div>
			        </div>
			</div>

			<div class="assignoption">
				<!--Assign-->
			 	<div class="assignbtn" id="assignbutton" data-ng-show="vm.showassign && vm.hasunassignorders" data-ng-click="omapvm.startorstopassign($event)">
			 		<span data-ng-show="omapvm.isassginclicked">Close</span>
			 		<span data-ng-hide="omapvm.isassginclicked">Assign</span>
			 	</div>
			 	
			 	<div class="assigndiv">
		 			<center style="margin-bottom:10px;">Selected Orders </center>
		 			<div style="margin-top:5px;" data-ng-repeat="order in omapvm.selectedorders"> 
		 				<span class="text-muted">#{{order.ordernumber}}</span>
		 				<a style="float:right" data-ng-click="omapvm.removeSelectedOrder($index)">x</a>
		 			</div>
		 			<div class="dropdown" data-ng-if="omapvm.selectedorders.length > 0" style="width:100%; margin-top:20px;">
		 				<center>
							<button type="button" class="btn btn-sm btn-default dropbtn orderdisplaybtn" data-ng-click="vm.dropdownclicked(1000)">Assign</button>
						</center>
						<div id="userdropdown1000" class="dropdown-content">
						    <a href="" data-ng-repeat="user in vm.users"  data-ng-click="omapvm.assign(user)" data-ng-if="user.loggedin == true">
						    	<img src="assets/images/greendot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

						    <a href="" data-ng-repeat="user in vm.users"  data-ng-click="omapvm.assign(user)" data-ng-if="user.loggedin == false"><img src="assets/images/reddot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

						    <a data-ng-if="vm.manualdelivery==true" type="button" style="margin-top:10px;" confirm on-confirm="omapvm.markasDelivered()">Mark as Delivered</a>
						</div>
					</div>
			 	</div>
			</div>
		</div>
	</div>
</div>
	