<div data-ng-controller="order as vm">
	<div class="container">
		<div class="row" print-section>
			<div class="col-xs-12" print-remove>
				<br/>
				<form class="form-horizontal" name="orderform">
					<h5 class="tm-heading" data-ng-hide="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Add Order</h5>
					<h5 class="tm-heading" data-ng-show="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Update Order
						<br/>
						<div data-ng-if="vm.order.createdat != null" style="margin-left:18px; margin-top:8px" class="small">{{vm.order.createdat}}</div>
					</h5>

					<br/>
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textordernumber.$invalid && orderform.textordernumber.$touched }" data-ng-if="vm.autoOrderId == false || vm.isOrderEdit">
						<label class="col-md-3 control-label">Order number<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Order Number" name="textordernumber" data-ng-model="vm.order.ordernumber" required ng-readonly="vm.isOrderEdit">
		                    <div data-ng-messages="orderform.textordernumber.$error" data-ng-if="vm.interacted(orderform.textordernumber)" class="error-messages">
		                        <div ng-message="required">Order number required</div>
		                    </div>
		            	</div>
		            </div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textmobilenumber.$invalid && orderform.textmobilenumber.$touched }">
						<label class="col-md-3 control-label">Customer mobile number<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" autocomplete="off" placeholder="Enter a Customer Mobile Number" name="textmobilenumber" data-ng-model="vm.order.mobilenumber" class="form-control" ng-readonly="vm.order.cancelled" data-ng-change="vm.mobilechanged()" required>
							<img src="assets/images/spinner.gif" style="margin-top:5px; height:20px;" data-ng-if="vm.fecthingaddressdata"></img>
							<small data-ng-if="vm.usernotfound == true">*No user found</small>

		                    <div data-ng-messages="orderform.textmobilenumber.$error" data-ng-if="vm.interacted(orderform.textmobilenumber)" class="error-messages">
		                        <div ng-message="required">Customer mobile number required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomername.$invalid && orderform.textcustomername.$touched }">
						<label class="col-md-3 control-label">Customer name<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer Name" name="textcustomername" data-ng-model="vm.order.name" required ng-readonly="vm.order.cancelled">
		                    <div data-ng-messages="orderform.textcustomername.$error" data-ng-if="vm.interacted(orderform.textcustomername)" class="error-messages">
		                        <div ng-message="required">Customer name required</div>
		                    </div>
		            	</div>
					</div>
					
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomeraddress.$invalid && orderform.textcustomeraddress.$touched }">
						<label class="col-md-3 control-label">Customer address<span style="margin-left:5px">*</span></label>
						<div class="col-md-6">
							<textarea type="text" class="form-control" placeholder="Enter a Customer Address" name="textcustomeraddress" data-ng-model="vm.order.address" required ng-readonly="vm.order.cancelled"></textarea>
		                    <div data-ng-messages="orderform.textcustomeraddress.$error" data-ng-if="vm.interacted(orderform.textcustomeraddress)" class="error-messages">
		                        <div ng-message="required">Customer address required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomerzip.$invalid && orderform.textcustomerzip.$touched }">
						<label class="col-md-3 control-label">Customer zipcode</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer ZipCode" name="textcustomerzip" data-ng-model="vm.order.zip" ng-readonly="vm.order.cancelled" ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="orderform.textcustomerzip.$error" data-ng-if="vm.interacted(orderform.textcustomerzip)" class="error-messages">
		                        <div ng-message="pattern">Enter valid zipcode</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label"></label>
						<div class="col-md-6 checkdist">
							<button type="button" class="btn btn-default" data-ng-click="vm.checkdistclicked()" data-ng-hide="vm.checkdistance || vm.order.cancelled">Check Distance</button>
							<div ng-include src="'views/orders/distance.html'"> </div>
		            	</div>
					</div>

			        <div class="form-group zeromargin">
						<label class="col-md-3 control-label">Items</label>
						<div class="col-md-6">
							<div class="col-md-12 nopadding" style="margin-bottom:10px;" data-ng-repeat="product in vm.products">
								<div class="col-md-5 orderitem">
									<small class="text-muted">Item name</small>
									<input type="text" class="form-control" placeholder="Enter Item Name" data-ng-model="product.name" typeahead="prod.name as prod.name for prod in vm.productslist | filter:{name:$viewValue}" typeahead-template-url="typeaheadElement.html" typeahead-on-select="vm.productselected($item, $model, $label, product)" data-ng-change="vm.productChanged(product)" ng-readonly="vm.order.cancelled" />
									<small data-ng-if="vm.trackinventory==true && product.inventory != null">Inventory: {{product.inventory}}</small>
								</div>
								<div class="col-md-4 orderitem">
									<small class="text-muted">Quantity</small>
									<input type="text" class="form-control" placeholder="Enter Quantity" data-ng-model="product.quantity" data-ng-change="vm.quantityChanged(product)" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
									<small data-ng-if="product.inventoryerror == true && product.noquantity == true" style="color:#bf1c1c">Quantity is required</small>
									<small data-ng-if="product.inventoryerror == true && product.noquantity == false" style="color:#bf1c1c">Quantity more than inventory</small>
								</div>
								<div class="col-md-2 orderitem">
									<small class="text-muted">Price</small>
									<input type="text" class="form-control" placeholder="Enter Price" data-ng-model="product.price" data-ng-change="vm.priceChanged(product)" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
								</div>
								<div class="col-md-1 nopadding">
									<a class="pop-over-header-close-btn" style="font-size: 20px; margin-top: 8px;" data-ng-click="vm.removeproduct($index)" data-ng-hide="vm.order.cancelled">x</a>
								</div>
								<br/>
							</div>
							<br/>
							<div class="col-md-12 nopadding" style="margin-bottom:20px;">
								<button type="button" data-ng-click="vm.addproduct()" class="btn btn-success" data-ng-disabled="vm.order.cancelled">Add Item</button>
							</div>
							<br/>
							<textarea type="text" class="form-control" placeholder="Items Summary" name="textproductname" data-ng-model="vm.order.productdesc" ng-readonly="vm.order.cancelled"></textarea>
		                </div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textamount.$invalid && orderform.textamount.$touched }">
						<label class="col-md-3 control-label">Amount to collect from customer</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a amount to collect from customer" name="textamount" data-ng-model="vm.order.amount" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled">
		                    <div data-ng-messages="orderform.textamount.$error" data-ng-if="vm.interacted(orderform.textamount)" class="error-messages">
		                        <div ng-message="required">Amount to collect from customer required</div>
		                        <div ng-message="pattern">Enter a valid amount</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Delivery date<span style="margin-left:5px;">*</span></label>
						<div class="col-md-6">						
							<input data-ng-if="vm.isdatesupport" id="orderdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit">
							<div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group" style="width:94%; display: inline">
					            <div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group width170">
					            <div class='input-group date' lb-datepicker >
					                <input id="orderdate" type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit"/>
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
			            			</div>
			        			</div>
					        </div>
					    </div>
			        </div>

			        <div class="form-group zeromargin" data-ng-hide="vm.isVendor">
						<label class="col-md-3 control-label">Delivery time<span style="margin-left:5px;">*</span></label>
				        <div id="time-range" class="col-md-6">
						    <p>Time Range: <span class="slider-time">{{vm.time1}}</span> - <span class="slider-time2">{{vm.time2}}</span>

						    </p>
						    <div class="sliders_step1">
						        <div id="slider-range" time-slider timeone="vm.time1" timetwo="vm.time2" iscancelled="vm.order.cancelled"></div>
						    </div>
						</div>
					</div>

					<div data-ng-if="(vm.isVendor == false && vm.vendorsupport) || (vm.isVendor && vm.isOrderEdit)" class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textdeliveryamount.$invalid && orderform.textdeliveryamount.$touched }">
						<label class="col-md-3 control-label">Delivery charge</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Delivery charge amount" name="textdeliveryamount" data-ng-model="vm.order.deliverycharge" ng-pattern="/^[0-9.]*$/" ng-readonly="vm.order.cancelled || vm.isVendor">
		                    <div data-ng-messages="orderform.textdeliveryamount.$error" data-ng-if="vm.interacted(orderform.textdeliveryamount)" class="error-messages">
		                        <div ng-message="pattern">Enter a valid amount</div>
		                    </div>
		            	</div>
					</div>

					<div data-ng-if="vm.isVendor || vm.vendorsupport"  class="form-group zeromargin">
						<label class="col-md-3 control-label">Pickup location</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter pickup location" name="textpickup" data-ng-model="vm.order.pickuplocation" ng-readonly="vm.order.cancelled"></input>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Notes</label>
						<div class="col-md-6">
							<textarea type="text" class="form-control" placeholder="Enter Notes" name="textnotes" data-ng-model="vm.order.notes" ng-readonly="vm.order.cancelled"></textarea>
		                </div>
					</div>

					<div class="form-group zeromargin" data-ng-hide="vm.isVendor">
						<label class="col-md-3 control-label">Tags</label>
		                <div class="col-md-6">
		                	<div class="tagsborder">
		                		<div style="margin-top:5px; margin-left:5px">
									<a data-ng-repeat="tag in vm.tagsdetail" data-ng-click="vm.removetag(tag)" class="badge {{tag.tagcolor}}">{{tag.tag}}</a>
								</div>
								<div data-ng-if="vm.tagsdetail.length <= 0" style="margin-left:10px; margin-top:10px;">
									<span class="mute-text">Click the tag below to add it to order</span>
								</div>
							</div>
						</div>
					</div>

					<div data-ng-hide="vm.isVendor" ng-include src="'views/orders/tagtmp.html'" data-ng-hide="vm.order.cancelled"> </div>
				</form>
				<div>
				 	<center data-ng-hide="vm.isdelete || vm.iscancel">
			            <button data-ng-hide="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.addorder();" data-ng-disabled="!vm.canAdd">Add Order</button>
			            
			            <button data-ng-show="vm.isOrderEdit && !vm.order.cancelled" type="button" class="margintop15 btn btn-default" ng-click="vm.updateorder();" data-ng-disabled="!vm.canAdd">Update Order</button>
			            
			            <button data-ng-show="vm.isOrderEdit && !vm.order.cancelled && vm.order.status != 'Delivered' && vm.istoday==true" type="button" class="margintop15 btn btn-default" ng-click="vm.cancelorder();">Cancel Order</button>

			           	<button data-ng-show="vm.isOrderEdit && vm.istoday==true" type="button" class="margintop15 btn btn-default" ng-click="vm.deleteorder();">Remove Order</button>
			           	
			           	<button type="button" class="margintop15 btn btn-default" data-ng-if="vm.order.status=='Delivered' && !vm.order.cancelled && vm.order.deliveredon != null" data-ng-click="vm.viewtrip()">View trip</button>
			           	
			           	<button type="button" class="margintop15 btn btn-default" data-ng-if="vm.isOrderEdit" print-btn>Print Receipt</button>

			           	<button type="button" class="margintop15 btn btn-default" ng-click="vm.cancel();">Go Back</button>
			        </center>
		        	<center data-ng-show="vm.isdelete">
		        		<span class="errortext">Order will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deletecancel();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deleteconfirm();">Yes</button>
		        	</center>
		        	<center data-ng-show="vm.iscancel">
		        		<span class="errortext">Order will be cancelled but not deleted, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.cancelcancelled();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.cancelconfirm();">Yes</button>
		        	</center>
		        	<br/><br/>
		    	</div>
		    </div>
		    <div print-only class="printMe" print-if="vm.canPrint">
		    	<small>
		    		<center>
		    			<br/>
				    	<p>Receipt</p>
		    			<p>{{vm.accountName}}</p>
		    			<p data-ng-if="vm.address && vm.address.addressline">{{vm.address.addressline}}</p>
		    			<p data-ng-if="vm.address && vm.address.city">{{vm.address.city}}</p>
		    			<p>Ph: {{vm.mobilenumber}}</p>
    				</center>
				    <table style="margin-top:0px !important; margin-left:20px; margin-right:20px;">
				    	<tr class="printtabletr"><td colspan="3" class="printtabletd"><hr></td></tr>
						<tr class="printtabletr">
							<td class="printtabletd">Order #:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.ordernumber}}</td>
			            </tr>
			            <tr class="printtabletr">
							<td class="printtabletd">Mobile:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.mobilenumber}}</td>
			            </tr>
						<tr class="printtabletr">
							<td class="printtabletd">Name:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.name}}</td>
			            </tr>
			            <tr class="printtabletr">
							<td class="printtabletd">Address:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.address}}</td>
			            </tr>
			            <tr class="printtabletr" data-ng-if="vm.order.zip">
							<td class="printtabletd">Zipcode:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.zip}}</td>
			            </tr>
			            <tr class="printtabletr" data-ng-if="vm.order.productdesc">
							<td class="printtabletd">Items:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd"><div ng-bind-html="vm.getPrintableDesc(vm.order.productdesc)"></div></td>

			            </tr>
						<tr class="printtabletr">
							<td class="printtabletd">Amount:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">Rs. {{vm.order.amount}}</td>
			            </tr>
			            <tr class="printtabletr">
							<td class="printtabletd">Delivery date:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.selecteddate | date: 'dd MMM, yyyy'}}</td>
			            </tr>
						<tr class="printtabletr" data-ng-hide="vm.isVendor">
							<td class="printtabletd">Delivery time:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.time1}} - {{vm.time2}}</td>
			            </tr>
			            <tr class="printtabletr" data-ng-if="vm.isVendor || vm.vendorsupport">
							<td class="printtabletd">Delivery charge:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">Rs. {{vm.order.deliverycharge}}</td>
			            </tr>
						<tr class="printtabletr" data-ng-if="vm.isVendor || vm.vendorsupport">
							<td class="printtabletd">Pickup location:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.pickuplocation}}</td>
			            </tr>
						<tr class="printtabletr" data-ng-if="vm.order.notes">
							<td class="printtabletd">Notes:</td>
							<!--<td class="printtabletd">:</td>-->
							<td class="printtabletd">{{vm.order.notes}}</td>
			            </tr>
			            <!--
						<tr class="printtabletr" data-ng-if="vm.isVendor == false && vm.order.tags">
							<td class="printtabletd">Tags:</td>
							<td class="printtabletd">{{vm.order.tags}}</td>
			            </tr>
			        	-->
			            <tr class="printtabletr"><td colspan="3" class="printtabletd"><hr></td></tr>
			        </table>
		    	</small>
		    </div>
			<!--Print A4 Section Starts-->
			<div print-only class="printA4" print-if="!vm.canPrint" class="noPrintMargin">
				<div style="padding:5% 5% 1% 5%">
					<div style="float:left">
						<img height="100px" src="../../assets/images/Fish-Chain.jpg">
					</div>
					<span style="padding:2.5% 2.5% 2.5% 35%;font-weight:600">ORDER INVOICE</span>
					<span style="float:right"><span style="font-weight:500">Order #:</span>&nbsp;&nbsp;{{vm.order.ordernumber}}</span><br/><br/><br/><br/>
					<!--<span style="float:left;padding-left:2.5%">Name:&nbsp;&nbsp;{{vm.order.name}}</span>-->
					<!--<span style="float:right"><span style="font-weight:500">Amount Payable:</span>&nbsp;&nbsp;Rs.{{vm.order.amount}}</span><br/>
					<span style="text-align:left;padding-left:2.5%">
						<span data-ng-if="vm.address && vm.address.addressline">Address:&nbsp;&nbsp;{{vm.order.address}}</span>
						<span data-ng-if="vm.address && vm.address.zip">&nbsp;&nbsp;{{vm.order.zip}}</span>
					</span><br/>-->
					<!--<span style="text-align:left;padding-left:2.5%">Phone:&nbsp;&nbsp;{{vm.order.mobilenumber}}</span>-->
				</div>
				<!--<div style="padding:2% 5% 1% 5%">
						<span style="width:20%"><span style="font-weight:500">Order #:</span>{{vm.order.ordernumber}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
						<span><span style="font-weight:500">Amount Payable:</span> {{vm.order.amount}}</span> 
				</div>-->
				<div style="padding:0% 5% 0% 5%">
					<table>
						<tbody>						
							<tr style="background: none !important">
								<td style="border:none !important;color:black !important;font-weight:600;padding-bottom:0% !important">FISH CHAIN</td>
								<td style="border:none !important;color:black !important;font-weight:600;padding-bottom:0% !important">Customer Details</td>
								</tr>
							<tr style="background: none !important">
								<td style="border:none !important;color:black !important;padding-bottom:0% !important">No.18, P.N Palayam Road, Ganapathy, Coimbatore - 641006</td>
								<td style="border:none !important;color:black !important;font-weight:500;padding-bottom:0% !important">{{vm.order.name}}</td>
							</tr>
							<tr style="background: none !important">
								<td style="border:none !important;color:black !important;padding-bottom:0% !important"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;freshcare@fishchain.in</td>
								<td style="border:none !important;color:black !important;padding-bottom:0% !important">{{vm.order.address}}</td>
							</tr>
							<tr style="background: none !important">
								<td style="border:none !important;color:black !important;padding-bottom:0% !important"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;9442053511</td>								
								<td style="border:none !important;color:black !important;padding-bottom:0% !important">{{vm.order.mobilenumber}}</td>
							</tr>
						</tbody>
					</table>
					<hr/>
				</div>
				<div style="padding:0% 5% 1% 5%">
					<table style="margin:0px !important">
						<tbody>
							<tr>
								<td style="border:none !important;color:black !important"><span style="font-weight:500">Delivery date</span><br style="line-height:2"/>{{vm.selecteddate | date: 'dd MMM, yyyy'}}</td>
								<td style="text-align:center !important;border:none !important;color:black !important;" data-ng-hide="vm.isVendor"><span style="font-weight:500">Delivery time</span><br style="line-height:2"/>{{vm.time1}} - {{vm.time2}}</td>
								<td style="text-align:center !important;border:none !important;color:black !important" data-ng-if="vm.isVendor || vm.vendorsupport"><span style="font-weight:500">Delivery charge</span><br style="line-height:2"/> 
								<span data-ng-if="vm.order.deliverycharge > 0">Rs. {{vm.order.deliverycharge}}</span><span data-ng-if="vm.order.deliverycharge <= 0">Free</span></td>
								<td style="text-align:right !important;border:none !important;color:black !important;padding-right:0px !important" data-ng-if="vm.order.notes"><span style="font-weight:500">Delivery  notes</span><br style="line-height:2"/>{{vm.order.notes}}</td>
								<!--<td style="text-align:right !important;border:none !important;color:black !important;padding-right:0px !important" data-ng-if="vm.isVendor || vm.vendorsupport"><span style="font-weight:500">Pickup location</span><br style="line-height:2"/>{{vm.order.pickuplocation}}</td>-->
							</tr>
						</tbody>
					</table>
				</div>
				<div style="padding:0% 5% 1% 5%">
					<table style="margin-top:0% !important;margin-bottom:0% !important" class="table table-bordered">
						<thead style="border: 1px solid #ddd !important">
							<tr>
								<td style="color:black !important;font-weight:600;">S.No</td>
								<td style="color:black !important;font-weight:600;">Item</td>
								<td style="color:black !important;text-align:center !important;font-weight:600;">Quantity</td>
								<td style="color:black !important;text-align:center !important;font-weight:600;">Unit Price</td>
								<td style="color:black !important;text-align:right !important;font-weight:600;">Price</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in vm.products" style="background: none !important"> 
								<td style="color:black !important;">{{$index + 1}}</td>
								<td style="color:black !important;">{{product.name}}</td>
								<td style="color:black !important;text-align:center !important;">{{product.quantity}}</td>
								<td style="color:black !important;text-align:right !important;">Rs.{{(product.price / product.quantity).toFixed(2)}}</td>
								<td style="color:black !important;text-align:right !important;">Rs.{{product.price}}</td>
							</tr>
						</tbody>
					</table>
					<p style="padding:10px;text-align:right;border: 1px solid #ddd;margin:0px !important">Subtotal&nbsp;&nbsp;&nbsp; Rs.{{ vm.calculateSubTotal() }}</p>
					<p style="padding:10px;text-align:right;border: 1px solid #ddd;margin:0px !important">VAT 5% &nbsp;&nbsp;&nbsp;Included</p>
					<p style="padding:10px;text-align:right;border: 1px solid #ddd;margin:0px !important">Delivery Charge&nbsp;&nbsp;&nbsp; 
						<span data-ng-if="vm.order.deliverycharge > 0">Rs.{{ vm.calculateSubTotal() }}</span>
						<span data-ng-if="vm.order.deliverycharge <= 0">Rs. 0</span>
					</p>
					<p style="padding:10px;text-align:right;border: 1px solid #ddd;margin:0px !important">Final Total&nbsp;&nbsp;&nbsp; Rs.{{ vm.calculateGrandTotal() }}</p>
					<p style="text-align: right;font-weight:600;margin-bottom:0px !important;padding:10px;">Amount Payable:&nbsp;&nbsp;Rs.{{vm.calculateGrandTotal()}}</p>
					<div style="margin-top:20px">
						<center><p style="border:none !important;color:black !important" ><span style="font-weight:500">Share your experience on <strong>facebook.com/fishchain &</strong>
						<br/><strong><span style="font-size:20px">WIN Rs.500</span></strong><br/> worth marinated seafood every week.</span></p></center>
					</div><br/>
					<center>
						<img height="250px" width="1050px" src="../../assets/images/Fish-Chain-Ratio.jpg">
					</center>
					<div style="height:7cm"></div>
				</div>
					<!--<div style="text-align:left;padding:0% 0% 5% 5%">
						<p>Delivery date: {{vm.selecteddate | date: 'dd MMM, yyyy'}}</p>
						<p data-ng-hide="vm.isVendor">Delivery time: {{vm.time1}} - {{vm.time2}}</p>
						<p data-ng-if="vm.isVendor || vm.vendorsupport">Delivery charge: Rs. {{vm.order.deliverycharge}}</p>
						<p data-ng-if="vm.isVendor || vm.vendorsupport">Pickup location: {{vm.order.pickuplocation}}</p>
						<p data-ng-if="vm.order.notes">Notes: {{vm.order.notes}}</p>
					</div>-->
				</div>
			<!--Print A4 Section Ends-->
		</div> <!-- row ends -->
	</div> <!-- container ends -->
</div>

<script type="text/ng-template" id="typeaheadElement.html">
  <a class="typeheadanchor" style="height: 50px !important; padding-top:5px !important">
      <span class="blackcolor">{{match.label}}</span>
      <br/>
      <small style="color:gray">Rs. {{match.model.price}}</small>
  </a>
</script>

<script type="text/ng-template" id="customerElement.html">
  <a class="typeheadanchor" style="height: 50px !important; padding-top:5px !important">
      <span class="blackcolor">{{match.label}}</span>
      <br/>
      <small style="color:gray">{{match.model.name}}</small>
  </a>
</script>

