<div data-ng-controller="orders as vm">
	<div class="input-group input-group-lg livemapsearch">
		<input type="text" class="form-control tm-search-text tm-no-outline fullwidth" placeholder="Search order" data-ng-model="vm.search" data-ng-hide="vm.showmaps"/>
		 <div class="input-group input-group-lg livemapsearch" style="width:100%" data-ng-show="vm.showmaps">
			<google-places></google-places>
		</div>
	    <div class="input-group-btn">
	    	<a type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.addOrder()"><span class="glyphicon glyphicon-plus"></span></a>
	    	<a type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.uploadfile()" title='Import orders'><span class="glyphicon glyphicon-open"></span></a>
	    	<a type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.exportOrders()" data-ng-if="vm.orders.length > 0"><span class="glyphicon glyphicon-save"></span></a>
	    </div>
	</div>

	<div data-ng-if="vm.isdesktop == false && vm.isVendor==false" ng-include src="'views/orders/morders.html'"></div>
	<div data-ng-if="vm.isdesktop == true" class="container-fluid">
		<div class="row" data-ng-hide="vm.showmaps">
			<div class="row col-xs-12">
				<div>
					<br/>
					<div>
						<h5 class="tm-heading tripsheading" style="margin-left:14px;">
							<span class="glyphicon glyphicon-chevron-right" style="margin-right:1px"></span>Orders
							<a style="margin-left:10px; text-decoration: underline !important;" data-ng-click="vm.showMapClicked()" data-ng-if="vm.filterOrders.length > 0 && vm.isVendor==false" >View in map</a>
							<a style="margin-left:10px; text-decoration: underline !important;" href="#/orders/agents" data-ng-if="vm.isVendor==false">Agents view</a>
						</h5>
						<br/>
						<div style="margin-top:10px;">
							<div class="orderfilter">
								<h5 class="tm-heading tripsheading" style="margin-right:5px">Delivery date</h5>
								<input class="width170" data-ng-if="vm.isdatesupport" id="ordersdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
								<div data-ng-if="!vm.isdatesupport" class="width170" style="display: inline-block;height:22px;">
						            <div class='input-group date' lb-datepicker>
						                <input type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)">
						                <span class="input-group-addon">
						                    <span class="glyphicon glyphicon-calendar"></span>
						                </span>
						            </div>
					       		 </div>
					       	</div>
					        <div class="orderfilter marginleft10">
					        	<h5 class="tm-heading tripsheading" style="margin-right:5px">Tags</h5>
					        	<select class="width170" style="height:35px;" ng-model="vm.selectedTag" ng-options="tag.value as tag.name for tag in vm.tagsoption" data-ng-change="vm.tagfilter()"></select>
					        </div>
					        <div class="orderfilter marginleft10">
					        	<h5 class="tm-heading tripsheading" style="margin-right:5px">Status</h5>
					        	<div ng-dropdown-multiselect="" options="vm.statusoptions" selected-model="vm.selectedStatus" extra-settings="vm.statussselectsettings" events="vm.statusevents" checkboxes="true" class="width170" style="height:35px;display:inline"></div>
					        </div>
					        <div class="orderfilter marginleft10">
					        	<span>Total orders : <span id="totalorderspan"></span></span>
					        </div>

					        <div class="orderfilter marginleft10">
					        	<div ng-dropdown-multiselect="" options="vm.columns" selected-model="vm.selectedcolumns" extra-settings="vm.columnsselectsettings" class="multiselectdiv" events="vm.columnevents" checkboxes="true"></div>
					        </div>
					    </div>
					    <div style="margin-left:16px; margin-top:15px;">
					    	<span style="float:right;">Total amount to collect : <span id="totalamount"></span></span>
					    </div>
					</div>
			    </div>
			</div>
			<div class="col-xs-12" data-ng-if="vm.filterOrders.length > 0" style="padding-right:0px !important;" style="margin-top:-10px;">
				<table id="ordertable" name="ordertable" style="margin-bottom:300px; margin-top:10px !important;">
					<thead>
						<tr class="cakebeecolor">
							<th data-ng-show="vm.orderidshow" ng-click="ordersort('orderid')"> Order
								<span class="sortorder" ng-show="predicate == 'orderid'" ng-class="{reverse:reverse}"></span>
							</th>

							<th data-ng-show="vm.nameshow" ng-click="ordersort('name')"> Customer name
								<span class="sortorder" ng-show="predicate == 'name'" ng-class="{reverse:reverse}"></span>
							</th>
							<th data-ng-show="vm.deliverytimeshow && !vm.isVendor" ng-click="ordersort(null)">Delivery time</th>

							<th data-ng-show="vm.amountshow" ng-click="ordersort('amount')">Amount to collect 
								<span class="sortorder" ng-show="predicate == 'amount'" ng-class="{reverse:reverse}"></span>
							</th>

							<th data-ng-show="vm.addressshow" ng-click="ordersort('address')">Address
								<span class="sortorder" ng-show="predicate == 'address'" ng-class="{reverse:reverse}"></span>
							</th>	

							<th data-ng-show="vm.itemsshow" ng-click="ordersort('items')">Items
								<span class="sortorder" ng-show="predicate == 'items'" ng-class="{reverse:reverse}"></span>
							</th>	

							<th data-ng-show="((vm.isVendor || vm.vendorsupport) && vm.deliverychargeshow)" ng-click="ordersort('deliverycharge')">Delivery Charge
								<span class="sortorder" ng-show="predicate == 'deliverycharge'" ng-class="{reverse:reverse}"></span>
							</th>

							<th data-ng-show="((vm.isVendor || vm.vendorsupport) && vm.pickuplocationshow)" ng-click="ordersort('pickuplocation')">Pickup Location
								<span class="sortorder" ng-show="predicate == 'pickuplocation'" ng-class="{reverse:reverse}"></span>
							</th>

							<th data-ng-show="vm.vendorsupport && !vm.isVendor && vm.vendorshow" ng-click="ordersort('vendor')">Vendor
								<span class="sortorder" ng-show="predicate == 'vendor'" ng-class="{reverse:reverse}"></span>
							</th>

							<th data-ng-show="vm.notesshow" ng-click="ordersort(null)">Notes</th>

							<th data-ng-show="vm.tagsshow" ng-click="ordersort(null)">Tags</th>

							<th data-ng-show="vm.statusshow" ng-click="ordersort(null)">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="order in vm.filterOrders  | orderBy:predicate:reverse | filter: vm.search as filterresults" data-ng-click="vm.orderClicked(order)">
							{{vm.getTotalAmount(filterresults)}}
							<td data-ng-show="vm.orderidshow" class="ordertd">
								<span>{{totalamount}}</span>
								<span data-ng-if="order.url == null || order.url == undefined">{{order.ordernumber}}</span>
								<a data-ng-if="order.url != null && order.url != undefined" href="{{order.url}}" target="_blank" data-ng-click="vm.linkClicked(order.url)">{{order.ordernumber}}</a>
							</td>

							<td data-ng-show="vm.nameshow" class="ordertd"><span>{{order.name}}</span><br/><span style="margin-top:5px;">{{order.mobilenumber}}</span></td>
							<td data-ng-show="vm.deliverytimeshow && !vm.isVendor" class="ordertd">{{order.time}}</td>
							<td data-ng-show="vm.amountshow" class="ordertd">{{order.amount}}</td>
							<td data-ng-show="vm.addressshow" class="ordertd">{{order.address}} {{order.zip}}</td>
							<td data-ng-show="vm.itemsshow" class="ordertd">{{order.productdesc}}</td>
							<td data-ng-show="((vm.isVendor || vm.vendorsupport) && vm.deliverychargeshow)" class="ordertd">{{order.deliverycharge}}</td>
							<td data-ng-show="((vm.isVendor || vm.vendorsupport) && vm.pickuplocationshow)" class="ordertd">{{order.pickuplocation}}</td>
							<td data-ng-show="(vm.vendorsupport && !vm.isVendor && vm.vendorshow)" class="ordertd">{{order.vendor}}</td>
							<td data-ng-show="vm.notesshow" class="ordertd">{{order.formattednotes}}</td>
							<td data-ng-show="vm.tagsshow && !vm.isVendor" class="ordertd">
								<span data-ng-repeat="tag in order.tagsdetail"class="badge {{tag.tagcolor}}">{{tag.tag}}</span>
							</td>
							<td data-ng-show="vm.statusshow" class="ordertd">
								<div data-ng-if="order.status != null">
									<div data-ng-if="vm.showassign == true && (order.status == 'Yet to accept' || order.status == 'Accepted' || order.status == 'Picked up')">
										<div data-ng-click="vm.unassignorder(order)">
											<span>{{order.vehiclenumber}}</span>
											<i class="glyphicon glyphicon-remove unassgincolor marginleft10"></i>
										</div>
									</div>
									<div data-ng-if="vm.showassign == false && (order.status == 'Yet to accept' || order.status == 'Accepted' || order.status == 'Picked up')">
										<span data-ng-if="vm.isVendor == true && order.status != 'Accepted' && order.status != 'Picked up'" style="margin-right:3px">Assigned to</span>
										<span>{{order.vehiclenumber}}</span>
									</div>
									<div data-ng-if="order.status == 'Accepted'">									
										<small>Accepted @ {{order.acceptedon}}</small>
									</div>
									<div data-ng-if="order.status == 'Picked up'">
										<small>Picked @ {{order.pickedon}}</small><br/>
										<small data-ng-if="order.startedon">Started @ {{order.startedon}}</small>
									</div>
									<div data-ng-if="order.status == 'Delivered'">
										<div data-ng-if="order.markeddeliveredon == null">
											<span>{{order.vehiclenumber}}</span> <br/>
											<small data-ng-if="order.pickedon">{{order.pickedon}} - {{order.deliveredon}}</small>
											<small data-ng-if="order.pickedon == null">Delivered @ {{order.deliveredon}}</small>
										</div>
										<div data-ng-if="order.markeddeliveredon != null">
											<span>{{order.markeddelivereddriver}}</span><br/>
											<small>Marked as delivered @ {{order.deliveredon}}</small>
										</div>
									</div>
									<div data-ng-if="order.cancelled == true">
										<span>Cancelled</span><br/>
										<span data-ng-if="order.cancelledon">@ {{order.cancelledon}}</span>
									</div>
								</div>
								<div data-ng-if="order.status == null && order.deviceid != null && vm.showassign==false">
									<span>{{order.vehiclenumber}}</span> </br>
								</div>
								<div data-ng-if="order.status == null && vm.showassign == true">
									<div class="dropdown" data-ng-if="order.deviceid == null">
										<button type="button" class="btn btn-default dropbtn orderdisplaybtn" data-ng-click="vm.dropdownclicked($index)">Assign</button>
										<div id="userdropdown{{$index}}" class="dropdown-content">
										    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == true">
										    	<img src="assets/images/greendot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

										    <a href="" data-ng-repeat="user in vm.users" data-ng-click="vm.assignorder(order, user)" data-ng-if="user.loggedin == false"><img src="assets/images/reddot.png" style="margin-right:5px"></img>{{user.vehiclenumber}}</a>

										    <a data-ng-if="vm.manualdelivery==true" type="button" style="margin-top:10px;"  confirm on-confirm="vm.markasDelivered(order)">Mark as Delivered</a>
										</div>
									</div>
								</div>
								<div data-ng-if="order.status == null && vm.showassign == false && vm.isVendor == true">Unassigned</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12" data-ng-show="!vm.showallcars && vm.filterOrders.length==0" style="margin-top:10%">
				<br/>
				<p class="text-muted center"></span>No orders available for selected filters.</p>
				<br/>
			</div>
		</div> <!-- row -->
		
		<div data-ng-if="vm.showmaps == true" ng-include src="'views/orders/ordersmap.html'"> </div>

	</div> <!--container -->
</div>

<script type="text/ng-template" id="markasdeliveredmodal.html">
    <div class="modal-body">
        <p>Are you sure, you want to mark this order as delivered</p>
        <input id="drivernametxt" type='text' class="form-control" placeholder="Enter driver name">
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">OK</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</script>
