<div data-ng-controller="order as vm">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<form class="form-horizontal" name="orderform">
					<h5 class="tm-heading" data-ng-hide="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Add Order</h5>
					<h5 class="tm-heading" data-ng-show="vm.isOrderEdit"><span class="glyphicon glyphicon-chevron-right"></span> Update Order</h5>
					<br/>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textordernumber.$invalid && orderform.textordernumber.$touched }">
						<label class="col-md-3 control-label">Order number</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Order Number" name="textordernumber" data-ng-model="vm.order.ordernumber" required ng-readonly="vm.isOrderEdit">
		                    <div data-ng-messages="orderform.textordernumber.$error" data-ng-if="vm.interacted(orderform.textordernumber)" class="error-messages">
		                        <div ng-message="required">Order number required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomername.$invalid && orderform.textcustomername.$touched }">
						<label class="col-md-3 control-label">Customer name</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer Name" name="textcustomername" data-ng-model="vm.order.name" required>
		                    <div data-ng-messages="orderform.textcustomername.$error" data-ng-if="vm.interacted(orderform.textcustomername)" class="error-messages">
		                        <div ng-message="required">Customer name required</div>
		                    </div>
		            	</div>
					</div>
					
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textcustomeraddress.$invalid && orderform.textcustomeraddress.$touched }">
						<label class="col-md-3 control-label">Customer address</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer Address" name="textcustomeraddress" data-ng-model="vm.order.address" required>
		                    <div data-ng-messages="orderform.textcustomeraddress.$error" data-ng-if="vm.interacted(orderform.textcustomeraddress)" class="error-messages">
		                        <div ng-message="required">Customer address required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textmobilenumber.$invalid && orderform.textmobilenumber.$touched }">
						<label class="col-md-3 control-label">Customer mobile number</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Customer Mobile Number" name="textmobilenumber" data-ng-model="vm.order.mobilenumber" required ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="orderform.textmobilenumber.$error" data-ng-if="vm.interacted(orderform.textmobilenumber)" class="error-messages">
		                        <div ng-message="required">Customer mobile number required</div>
		                        <div ng-message="pattern">Enter a valid mobile number</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textamount.$invalid && orderform.textamount.$touched }">
						<label class="col-md-3 control-label">Amount to collect from customer</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a amount to collect from customer" name="textamount" data-ng-model="vm.order.amount" required ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="orderform.textamount.$error" data-ng-if="vm.interacted(orderform.textamount)" class="error-messages">
		                        <div ng-message="required">Amount to collect from customer required</div>
		                        <div ng-message="pattern">Enter a valid amount</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Delivery date</label>
						<div class="col-md-6">						
							<input data-ng-if="vm.isdatesupport" id="orderdate" type="date" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit">
							<div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group">
					            <div data-ng-if="!vm.isdatesupport" class="col-xs-1 form-group width170">
					            <div class='input-group date' lb-datepicker >
					                <input id="orderdate" type='text' class="form-control" data-ng-model="vm.selecteddate" data-ng-change="vm.datechanged(vm.selecteddate)" ng-readonly="vm.isOrderEdit"/>
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
			            			</div>
			        			</div>
					        </div>
					    </div>
			        </div>

			        <div class="form-group zeromargin">
						<label class="col-md-3 control-label">Delivery time</label>
				        <div id="time-range" class="col-md-6">
						    <p>Time Range: <span class="slider-time">{{vm.time1}}</span> - <span class="slider-time2">{{vm.time2}}</span>

						    </p>
						    <div class="sliders_step1">
						        <div id="slider-range" time-slider timeone="vm.time1" timetwo="vm.time2"></div>
						    </div>
						</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textproductname.$invalid && orderform.textproductname.$touched }">
						<label class="col-md-3 control-label">Product name</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Product Name" name="textproductname" data-ng-model="vm.order.productname" required>
		                    <div data-ng-messages="orderform.textproductname.$error" data-ng-if="vm.interacted(orderform.textproductname)" class="error-messages">
		                        <div ng-message="required">Product name required</div>
		                    </div>
		            	</div>
					</div>

					<div class="form-group zeromargin" data-ng-class="{ 'has-error': orderform.textproductdesc.$invalid && orderform.textproductdesc.$touched }">
						<label class="col-md-3 control-label">Product description</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Product Address" name="textproductdesc" data-ng-model="vm.order.productdesc" required>
		                    <div data-ng-messages="orderform.textproductdesc.$error" data-ng-if="vm.interacted(orderform.textproductdesc)" class="error-messages">
		                        <div ng-message="required">Product description required</div>
		                    </div>
		            	</div>
					</div>
				</form>
				<div>
				 	<center data-ng-hide="vm.isdelete">
			            <button data-ng-hide="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.addorder();" data-ng-disabled="!vm.canAdd">Add Order</button>
			            <button data-ng-show="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.updateorder();" data-ng-disabled="!vm.canAdd">Update Order</button>
			           	<button data-ng-show="vm.isOrderEdit" type="button" class="margintop15 btn btn-default" ng-click="vm.deleteorder();">Remove Order</button>
			           	<button type="button" class="margintop15 btn btn-default" ng-click="vm.cancel();">Canel</button>
			        </center>
		        	<center data-ng-show="vm.isdelete">
		        		<span class="errortext">Order will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deletecancel();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deleteconfirm();">Yes</button>
		        	</center>
		        	<br/><br/>
		    	</div>
			</div>
		</div> <!-- row ends -->
	</div> <!-- container ends -->
</div>