<div data-ng-controller="alertdetail as vm">
	<div class="container-fluid" data-ng-if="vm.showmaps">
		<div class="row">
			<div class="tm-live-map">
				<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        		<ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id"></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>

	<div data-ng-if="vm.showmaps" class="container-fluid tm-live-overlay">
		<div class="row">
			<div class="col-xs-4 col-md-2 tm-marker"></div>
			<div class="col-xs-4 col-md-7 col-lg-8"></div>
			<div class="col-xs-4 col-md-4 col-lg-2 tm-live-summary">
				<div class="col-xs-12">
					<h4><strong>Car #555</strong>: {{vm.selectedAlert.text}}</h2>
				</div>
				<div class="col-xs-12">
					<p>@ {{vm.selectedAlert.location}} | {{vm.selectedAlert.time}}</p>
					Kousik Kumar | 9823456789
				</div>
			</div>
		</div>
	</div>

	
</div>
