<div data-ng-controller="shell as vm">
	<div class="main-container">
		    <lb-spinner is-busy="vm.loadSpinner"></lb-spinner>
		    <div data-ng-show="vm.offline && vm.reconnect" class="offline-ui  offline-ui-down offline-ui-waiting">
		    	<center>
		    		Lost internet connection. Reconnecting ...
		    	</center>
		    </div>
		    <div data-ng-show="vm.offline && vm.notnet" class="offline-ui offline-ui-down offline-ui-down-5s">
		    	<center>
		    		Lost internet connection.
		    	</center>
		    </div>
		    <div data-ng-if="vm.online" class="offline-ui offline-ui-up offline-ui-up-5s">
		    	<center>
		    		Connected to internet
		    	</center>
		    </div>

            <div class="main-content zeropadding">
            	<nav class="navbar navbar-default marginbottom0" data-ng-show="vm.isloggedIn">
			      <div class="container-fluid">
			        <div class="navbar-header">
			          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          <div class="navbar-brand" href=""><img class="logoimage" src = "assets/images/logo.png"></img>&nbsp;<span class="logo-title">Stick</span></div>
			        </div>
			        <div class="collapse navbar-collapse" id="navbar-collapse">
			          <ul class="nav navbar-nav">
			            <li ng-class="routeSelection != '' && routeSelection == 'live' ? 'active' : ''"><a href="#/live">Live</a></li>
			            <li ng-class="routeSelection == 'cars' ? 'active' : ''"><a href="#/cars">Cars</a></li>
			            <!--<li ng-class="routeSelection != '' && routeSelection == 'alerts' ? 'active' : ''"><a href="#/alerts">Alerts <span class="badge" data-ng-if="vm.openAlertsCount>0">{{vm.openAlertsCount}}</span></a></li>-->
			          </ul>
			          <ul class="nav navbar-nav navbar-right">
			            <li class="dropdown">
			              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{vm.accountname}}<span class="caret"></span></a>
			              <ul class="dropdown-menu" role="menu">
			                <li data-ng-if="vm.isAdmin"><a href="#/account/devices">Manage devices</a></li>
			                <li data-ng-if="vm.isAdmin"><a href="#/account/users" style="margin-top:5px">Manage users</a></li>
			                <li data-ng-if="vm.isAdmin"><a href="#/account/detail" style="margin-top:5px">Account</a></li>
			                <li data-ng-if="vm.isAdmin" class="divider"></li>
			                <li><a href="" data-ng-click="vm.logout()">Log out</a></li>
			              </ul>
			            </li>
			          </ul>
			        </div>
			      </div>
    			</nav>
            	<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
				<div id="wrap" ng-view="" class="minheight637">
			</div>
		</div>
	</div>
</div>