<div data-ng-controller="live as vm">
	<div data-ng-if="vm.showmaps" class="livemapsearch">
		<google-places data-ng-show="vm.locationsearch">
		</google-places>
		<input data-ng-show="vm.carsearch" type="text" class="input-block-level livecarsearch" placeholder="Search car..." data-ng-model="vm.carsearchselected" typeahead="car as car.title for car in vm.cars.models | filter:{title:$viewValue}" typeahead-template-url="typeaheadElement.html"
		typeahead-on-select="vm.carsearched($item, $model, $label)"/>
		<div class="carselectdiv">
			<div class="carselect">
				<button ng-class="{ 'btn btn-primary': vm.islocationsearhced, 'btn btn-default': !vm.islocationsearhced}" class="searchfilter" data-ng-click="vm.searchOptionChanged('location')"><i class="glyphicon glyphicon-map-marker"></i></button>
				<button ng-class="{ 'btn btn-primary': !vm.islocationsearhced, 'btn btn-default': vm.islocationsearhced}" data-ng-click="vm.searchOptionChanged('car')"><img style="width:18px" src="assets/images/car-front.png"></img></button>
			</div>
		</div>
	</div>

	<div class="container-fluid margintop30" data-ng-if="vm.showmaps">
		<div class="row">
			<div class="tm-live-map">
				<ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
					<ui-gmap-marker data-ng-show="vm.dragMarker" coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id"></ui-gmap-marker>
					<ui-gmap-markers models="vm.cars.models" coords="'self'" options="'options'" events="vm.markersEvents" doCluster="'true'" clusterOptions="vm.clusterOptions"></ui-gmap-markers>
				</ui-gmap-google-map>
			</div>
		</div>
	</div>
	
	<div data-ng-if="vm.showmaps">
		<div class="tm-location-marker">
		    <a href="" data-ng-click="vm.showDragMarker()">
				<img data-ng-hide="vm.dragMarker" src="assets/images/user-marker.png"></img>
				<img data-ng-show="vm.dragMarker" src="assets/images/user-marker-remove.png"></img>
			</a>
		</div>

		<div class="tm-live-summary">
		    <p class="tm-live-today">Today</p> 
				<h1 class="tm-live-distance">{{vm.distanceCovered}} 
					<small class="tm-overlay-unit">km 
						<span data-ng-show="vm.isUP" class="glyphicon glyphicon-arrow-up"></span>
						<span data-ng-hide="vm.isUP" class="glyphicon glyphicon-arrow-down"></span>
					</small>
				</h1>
			<h4>{{vm.activeCabs}} <small class="tm-overlay-unit">running</small> | {{vm.idleCabs}} <small class="tm-overlay-unit">idle</small></h4>
		</div>
	</div>
</div>

<script type="text/ng-template" id="typeaheadElement.html">
  <a class="typeheadanchor">
   <img src="assets/images/car-front.png" class="typeheadimage"></img>
      <span bind-html-unsafe="match.label" class="blackcolor"></span>
  </a>
</script>
