<div data-ng-controller="devices as vm">
	<div class="input-group input-group-lg livemapsearch">
		<input type="text" class="form-control tm-search-text tm-no-outline fullwidth" placeholder="Search agent" data-ng-model="search" />
	    <div class="input-group-btn">
	    	<button type="button" class="btn btn-default tm-no-outline" data-ng-click="vm.buydevice()"><span class="glyphicon glyphicon-plus"></span></button>
	    </div>
	</div>
    <br/>
	<div class="container-fluid">
	    <div class="row">
			<div class="col-xs-12 tripblock">
				<div data-ng-repeat="device in vm.devices | filter:search">
					<div class="col-xs-12 col-md-4 tm-card-wrap ng-scope">
						<div class="col-md-12 tripdetail tripblock stick-list" ng-click="vm.editdevice(device.devicenumber)">
							<div class="row tripblock">
								<div class="col-xs-8">
									<h4 class="ng-binding" style="margin-top:0px;padding-top:0px;margin-bottom:0px;">
										<!--<img style="margin-top:-4px; margin-left:-4px;" class="height40" data-ng-if="device.vehicletype == 'person'" src="assets/images/person_unselected.png"></img>-->
										<img style="margin-top:-4px; margin-left:-4px;" class="height40" data-ng-if="device.vehicletype == 'car'" src="assets/images/car_unselected.png"></img>
										<img style="margin-top:-4px; margin-left:-4px;" class="height40" data-ng-if="device.vehicletype == 'bike'" src="assets/images/bike_unselected.png"></img>
										<img style="margin-top:-4px; margin-left:-4px;" class="height40" data-ng-if="device.vehicletype == 'other'" src="assets/images/other_unselected.png"></img>
										<span style="margin-left:3px">{{device.displayvehiclenumber}}</span>
									</h4>
								</div>
																		
								<div class="col-xs-4">
									<h5 class="text-right">{{device.type == 'stick' ? 'Stick' : 'Mobile'}}</h5>
								</div>
							</div>
							<div class="space-6"></div>
							<div class="row tripblock">
								<div class="col-xs-12">
									<h5 class="ng-binding text-muted zeropadding zeromargin">{{device.devicenumber}}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/><br/> 
	</div>
	<div class="col-xs-12" data-ng-show="vm.devices.length == 0">
		<center style="margin-top:150px">No agents being tracked. Click + to add a agent.</center>
	</div>
</div>
