<div data-ng-controller="login as vm">
    <div class="col-sm-12 zeromargin zeropadding">
        <div class="center">
            <br/>
            <h1>
                <img class="logoimage-home" src = "assets/images/logo.png"></img>
                <span class="white marginleft5">Stick</span>
            </h1>
            <h4 class="white">Tracking Simplified.</h4>
            <br/>
            <!--Login Template-->
            <form name="loginform" class="logindiv">
                <div id="login-box" class="login-box visible widget-box no-border" data-ng-show="vm.logindiv">
                    <div class="widget-body">
                        <div class="widget-main"> 
                            <h4 class="header blue lighter bigger">
                                Sign in to Stick
                            </h4>                          
                            <div class="space-6"></div>
                            <div class="form-group" data-ng-class="{ 'has-error': loginform.txtUsername.$invalid && loginform.txtUsername.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="email" class="form-control" name="txtUsername" id="txtUsername" data-ng-click="vm.hide();" name="txtUsername" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" data-ng-model="vm.userName" required placeholder="Username">
                                </span>
                                <div data-ng-messages="loginform.txtUsername.$error" data-ng-if="vm.interacted(loginform.txtUsername)" class="error-messages">
                                    <div ng-message="required">Username required</div>
                                    <div ng-message="pattern">Enter a valid Email ID</div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-class="{ 'has-error': loginform.txtPassword.$invalid && loginform.txtPassword.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" name="txtPassword" id="txtPassword" data-ng-click="vm.hide();" name="txtPassword" data-ng-model="vm.password" required placeholder="Password" ng-enter="vm.login()">
                                </span>
                                <div data-ng-messages="loginform.txtPassword.$error" data-ng-if="vm.interacted(loginform.txtPassword)" class="error-messages">
                                    <div ng-message="required">Password required</div>
                                </div>
                            </div>

                            <div class="space"></div>
                            <center class="marginbottom10"><span ng-show="vm.success==false" class="errortext">The email or password you entered is incorrect.</span></center>
                            <center class="marginbottom10"><span ng-show="vm.emailnotverified" class="errortext">The email is yet to be verified. <a data-ng-click="vm.resendVerificationEmail()" style="cursor : pointer">Click here</a> to resend the verification email</span></center>
                            <div class="clearfix">                                        
                                <button type="button" class="width-35 pull-right btn btn-sm btn-primary" data-ng-disabled="!vm.canLogin" data-ng-click="vm.login()">
                                    <span class="bigger-110">Sign In</span>
                                </button>
                            </div>
                            <div class="space-4"></div>
                        </div>
                        <div class="toolbar clearfix">
                            <div>
                                <a href="" class="forgot-password-link" data-ng-click="vm.forgotpasswordlinkclicked()">
                                    <i class="ace-icon glyphicon glyphicon-arrow-left"></i>
                                    I forgot password
                                </a>
                            </div>

                            <div>
                                <a href="" class="user-signup-link" data-ng-click="vm.signuplinkclicked()">
                                    I am a new user
                                    <i class="ace-icon glyphicon glyphicon-arrow-right"></i>
                                </a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </form>
            <!--Forgot Password Template-->
            <form name="forgotpassform" class="logindiv">
                <div data-ng-show="vm.forgotdiv">
                   <div id="forgot-box" class="forgot-box widget-box visible no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header red lighter bigger">
                                    Retrieve Password
                                </h4>

                                <div class="space-6"></div>
                                <p>
                                    Password retrieval instructions will be sent to your email.
                                </p>

                                <div class="form-group" data-ng-class="{ 'has-error': forgotpassform.txtuseremail.$invalid && forgotpassform.txtuseremail.$touched }">
                                    <span class="block input-icon input-icon-right">
                                        <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.useremail" name="txtuseremail" required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                                    </span>
                                    <div data-ng-messages="forgotpassform.txtuseremail.$error" data-ng-if="vm.interacted(forgotpassform.txtuseremail)" class="error-messages">
                                        <div ng-message="required">Username required</div>
                                        <div ng-message="pattern">Enter a valid Email ID</div>
                                    </div>
                                </div>

                                <div class="clearfix">
                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger" data-ng-click="vm.forgotpassword()" data-ng-disabled="!vm.canResetPassword">
                                        <span class="bigger-110">Submit</span>
                                    </button>
                                </div>
                            </div>

                            <div class="toolbar center">
                                <a href="" class="back-to-login-link" data-ng-click="vm.backtologinclicked()">
                                    Back to login <i class="ace-icon glyphicon glyphicon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
             <!-- Signup Template-->
            <form name="signupform" class="logindiv">
                <div id="signup-box" class="signup-box widget-box no-border visible" data-ng-show="vm.signupdiv">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header green lighter bigger">
                                New Account Registration
                            </h4>

                            <div class="space-6"></div>

                            <div class="form-group" data-ng-class="{ 'has-error': signupform.textaccountname.$invalid && signupform.textaccountname.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" data-ng-model="vm.newuser.accountname" placeholder="Account name" name="textaccountname" required maxLength="50">
                                </span>
                                <div data-ng-messages="signupform.textaccountname.$error" data-ng-if="vm.interacted(signupform.textaccountname)" class="error-messages">
                                    <div ng-message="required">Account name required</div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-class="{ 'has-error': signupform.textnewemail.$invalid && signupform.textnewemail.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" data-ng-model="vm.newuser.email" placeholder="Username" name="textnewemail" required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                                </span>
                                <div data-ng-messages="signupform.textnewemail.$error" data-ng-if="vm.interacted(signupform.textnewemail)" class="error-messages">
                                    <div ng-message="required">Username required</div>
                                    <div ng-message="pattern">Enter a valid Email ID</div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-class="{ 'has-error': signupform.textnewpwd.$invalid && signupform.textnewpwd.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="Password" name="textnewpwd" required data-ng-model="vm.newuser.password">
                                    <small class="text-muted">Minimum 8 characters and should have aleast one upper case letter and number</small>
                                    <br/>
                                    <ul id="strength" check-strength="vm.newuser.password"></ul>
                                </span>
                                <div data-ng-messages="signupform.textnewpwd.$error" data-ng-if="vm.interacted(signupform.textnewpwd)" class="error-messages">
                                    <div ng-message="required">Password required</div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-class="{ 'has-error': signupform.textrepeatpwd.$invalid && signupform.textrepeatpwd.$touched }">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="Repeat password" name="textrepeatpwd" required data-ng-model="vm.newuser.repeatpassword">
                                </span>
                                <div data-ng-messages="signupform.textrepeatpwd.$error" data-ng-if="vm.interacted(signupform.textrepeatpwd)" class="error-messages">
                                    <div ng-message="required">Repeat the password</div>
                                </div>
                            </div>

                            <div class="form-group" data-ng-class="{ 'has-error': signupform.chkagreement.$invalid && signupform.chkagreement.$touched }">
                                <input type="checkbox" class="ace" name="chkagreement" required data-ng-model="vm.newuser.agreed">
                                &nbsp;<span class="lbl">
                                    I accept the
                                    <a href="">User Agreement</a>
                                </span>
                            </div>

                            <div class="space-6"></div>
                            <center class="marginbottom10"><span ng-show="vm.repeatpwderror" class="errortext">Password and Repeat password should be same</span></center>
                            <div class="clearfix">
                                <button type="button" class="width-30 pull-left btn btn-sm" data-ng-click="vm.resetSignupForm()">
                                    <span class="bigger-110">Reset</span>
                                </button>

                                <button type="button" class="width-65 pull-right btn btn-sm btn-success" data-ng-disabled="!vm.canSignup" data-ng-click="vm.signup()">
                                    <span class="bigger-110">Register</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar center">
                        <a href=""  class="back-to-login-link" data-ng-click="vm.backtologinclicked()">
                            <i class="ace-icon glyphicon glyphicon-arrow-left"></i>
                            Back to login
                        </a>
                    </div>
                    </div>
                </div>
            </form>    
        </div>
    </div>
</div>


            
               

                                