<div data-ng-controller="device as vm">
	<div class="container">
		
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<form class="form-horizontal" name="deviceform">
					<h5 class="tm-heading" data-ng-hide="vm.isDeviceEdit"><span class="glyphicon glyphicon-chevron-right"></span> Add User</h5>
					<h5 class="tm-heading" data-ng-show="vm.isDeviceEdit"><span class="glyphicon glyphicon-chevron-right"></span> Update User</h5>
					<br/>

					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">User Device Type</label>
						<div ng-disabled="vm.isDeviceEdit" class="col-md-6">
							<input id="device-toggle" checked type="checkbox" data-toggle="toggle" data-on="Stick" data-off="Stick Mobile" data-onstyle="default" data-offstyle="default">
		            	</div>	
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Avatar</label>
						<div class="col-md-6">
							<a data-ng-show="vm.device.vehicletype=='car'" class="blackcolortext"><img src="assets/images/car_selected.png" class="height40"></img> Car</a>
							<a data-ng-show="vm.device.vehicletype !='car'" class="blackcolortext cursorpointer" 
							onmouseover="document.carunselected.src='assets/images/car_selected.png';"
		         			onmouseout="document.carunselected.src='assets/images/car_unselected.png';" data-ng-click="vm.selectVehicleType('car')">
		         				<img name="carunselected" src="assets/images/car_unselected.png" class="height40"></img> Car
		         			</a>

							<a data-ng-show="vm.device.vehicletype=='bike'" class="marginleft20 blackcolortext"><img src="assets/images/bike_selected.png" class="height40"></img> Bike</a>
							<a data-ng-show="vm.device.vehicletype !='bike'" class="marginleft20 blackcolortext cursorpointer" 
							onmouseover="document.bikeunselected.src='assets/images/bike_selected.png';"
		         			onmouseout="document.bikeunselected.src='assets/images/bike_unselected.png';" data-ng-click="vm.selectVehicleType('bike')">
		         				<img name="bikeunselected" src="assets/images/bike_unselected.png" class="height40"></img> Bike
		         			</a>

							<a data-ng-show="vm.device.vehicletype=='other'" class="marginleft20 blackcolortext"><img src="assets/images/other_selected.png" class="height40"></img> Other</a>
							<a data-ng-show="vm.device.vehicletype !='other'" class="marginleft20 blackcolortext cursorpointer" 
							onmouseover="document.otherunselected.src='assets/images/other_selected.png';"
		         			onmouseout="document.otherunselected.src='assets/images/other_unselected.png';" data-ng-click="vm.selectVehicleType('other')">
		         				<img src="assets/images/other_unselected.png" class="height40" name="otherunselected"></img> Other
		         			</a>
						</div>
		        		
					</div>
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': deviceform.textvehiclenumber.$invalid && deviceform.textvehiclenumber.$touched }">
						<label class="col-md-3 control-label">User ID</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Enter a Username or a Vehicle ID" name="textvehiclenumber" data-ng-model="vm.device.vehiclenumber" required maxLength ="20">
		                    <div data-ng-messages="deviceform.textvehiclenumber.$error" data-ng-if="vm.interacted(deviceform.textvehiclenumber)" class="error-messages">
		                        <div ng-message="required">User ID required</div>
		                    </div>
		            	</div>
					</div>

					<div data-ng-if="!vm.isStick" class="form-group zeromargin">
						<label class="col-md-3 control-label">Stick Device ID</label>
						<div class="col-md-6">
		                    <input type="text" class="form-control" placeholder="Device ID will be auto generated" data-ng-model="vm.device.devicenumber" ng-readonly="true">
		            	</div>
					</div>

					<div data-ng-if="vm.isStick" class="form-group zeromargin" data-ng-class="{ 'has-error': deviceform.textdevicenumber.$invalid && deviceform.textdevicenumber.$touched }">
						<label class="col-md-3 control-label">Stick Device ID</label>
						<div class="col-md-6">
		                    <input type="text" class="form-control" placeholder="Your Stick Device ID" name="textdevicenumber" data-ng-model="vm.device.devicenumber" required ng-readonly="vm.isDeviceEdit" ng-blur="vm.deviceIdCheck()" ng-change="vm.hidedevicecheck()">
		                    <div data-ng-if="vm.isdeviceavailable" style="padding-top:5px;">
		                    	<i class="glyphicon glyphicon-ok green"></i><span class="marginleft5" style="color:green;">&nbsp;Device ID is available</span>
		                    </div>
		                     <div data-ng-if="vm.isdeviceavailable == false" style="padding-top:5px;">
		                    	<i class="glyphicon glyphicon-remove errortext"></i><span class="marginleft5 errortext">&nbsp;This Device ID already is use</span>
		                    </div>
		                    <div data-ng-messages="deviceform.textdevicenumber.$error" data-ng-if="vm.interacted(deviceform.textdevicenumber, true)" class="error-messages">
		                        <div ng-message="required">Device ID is required</div>
		                    </div>
		            	</div>
					</div>

					<div data-ng-if="!vm.isStick" class="form-group zeromargin" data-ng-class="{ 'has-error': deviceform.textcontactnumber.$invalid && deviceform.textcontactnumber.$touched }">
						<label class="col-md-3 control-label">User's mobile number</label>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="User's mobile number" name="textcontactnumber" data-ng-model="vm.device.drivermobile" required ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="deviceform.textcontactnumber.$error" data-ng-if="vm.interacted(deviceform.textcontactnumber)" class="error-messages">
		                        <div ng-message="required">User's mobile number required</div>
		                        <div ng-message="pattern">Enter a valid mobile number</div>
		                    </div>
		            	</div>
					</div>
					
					<div class="form-group zeromargin" data-ng-class="{ 'has-error': deviceform.textdrivername.$invalid && deviceform.textdrivername.$touched }">
						<label class="col-md-3 control-label">Driver Name</label>
						<div class="col-md-6">
		                    <input type="text" class="form-control" placeholder="Driver Name (Optional)" name="textdrivername" data-ng-model="vm.device.drivername" ng-pattern="/^[a-zA-Z .]*$/">
		                    <div data-ng-messages="deviceform.textdrivername.$error" data-ng-if="vm.interacted(deviceform.textdrivername)" class="error-messages">
		                        <div ng-message="required">Driver name required</div>
		                        <div ng-message="pattern">Enter only alphabets</div>
		                    </div>
		            	</div>
					</div>
					<div class="form-group zeromargin">
						<label class="col-md-3 control-label">Driver's License ID</label>
						<div class="col-md-6">
		                    <input type="text" class="form-control" placeholder="Driver's License ID (Optional)" name="textdriverid" data-ng-model="vm.device.driverid">
		            	</div>
					</div>
					<div data-ng-if="vm.isStick" class="form-group zeromargin" data-ng-class="{ 'has-error': deviceform.textdrivercontactnumber.$invalid && deviceform.textdrivercontactnumber.$touched }">
						<label class="col-md-3 control-label">User's Mobile Number</label>
						<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Mobile Number with Country Code prefixed (Optional)" name="textdrivercontactnumber" data-ng-model="vm.device.drivermobile" ng-pattern="/^[0-9+]*$/">
		                    <div data-ng-messages="deviceform.textdrivercontactnumber.$error" data-ng-if="vm.interacted(deviceform.textdrivercontactnumber)" class="error-messages">
		                        <div ng-message="required">User's mobile number is required</div>
		                        <div ng-message="pattern">Enter a valid mobile number</div>
		                    </div>
		            	</div>
					</div>
				</form>
				<div>
				 	</br>
				 	<center data-ng-hide="vm.isdelete">
			            <button data-ng-hide="vm.isDeviceEdit" type="button" class="btn btn-default" ng-click="vm.adddevice();" data-ng-disabled="!vm.canBuy">Add User</button>
			            <button data-ng-show="vm.isDeviceEdit" type="button" class="btn btn-default" ng-click="vm.adddevice();" data-ng-disabled="!vm.canBuy">Update User</button>
			            <a type="button" class="btn btn-default"  href="#/account/devices">Cancel</a>
			           	<button data-ng-show="vm.isDeviceEdit" type="button" class="btn btn-default" ng-click="vm.deletedevice();">Remove User</button>
			        </center>
		        	<center data-ng-show="vm.isdelete">
		        		<span class="errortext">User will be removed permanently, do you want to continue? </span>
		        		<br/>
		        		<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deletecancel();">No</button>
			           	<button style="margin-top:10px" type="button" class="btn btn-default" ng-click="vm.deleteConfirm();">Yes</button>
		        	</center>
		        	<br/><br/>
		    	</div>
			</div>
		</div> <!-- row ends -->
	</div> <!-- container ends -->
	
	<div class="beige-bg-full-border">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<small>
						<h5><span class="glyphicon glyphicon-star-empty"></span> Adding or updating users</h5>
						<p>Users are what you track with Stick.</p>
						<ul>
							<li>Users carry a device which is either a physical Stick Device you bought or a Stick Mobile App.</li>
							<li>For Stick Device, the device ID is shipped along with the device. For Mobile App, this is auto generated.</li>
							<li>You can choose an Avatar for every user that will be used by live map view.</li>
							<li>User ID is a user name that you choose to refer back to this user.</li>
						</ul>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>