    .error-messages {
        -moz-transition: 1s linear all;
        -o-transition: 1s linear all;
        -webkit-transition: 1s linear all;
        transition: 1s linear all;
    }

        .error-messages.ng-active {
            color: #bf1c1c;
            margin-bottom: 0;
            margin-top: 8px;
        }

        .error-messages.ng-inactive {
        }

html{
    height:100% !important;
    min-height:100% !important;
}
body{
    min-height:100% !important;
}

html {tm-marker-label
    height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab' !important;
}
a {
    text-decoration: none !important;
}

.navbar {
    margin-bottom: 0px;
}


.badge {
    background-color: LightCoral !important;
}

.dropdown-toggle {
    cursor: pointer;
}

.tm-logo {
    height: 24px;
}

.tm-heading {
    font-weight: 500;
}

hr {
    border-color: LightGray !important;
}


/* FOR LIVE VIEW */

.angular-google-map-container {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}


.tm-live-map {
    z-index: 1;
    position: fixed;
}

.tm-live-overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.tm-overlay-unit {
    color: #424242;
}

.tm-callout {
    color: #424242;
    min-width: 100px;
}

.tm-live-summary {
    background-color: White;
    opacity: .9;
    padding:10px;
    text-decoration: none; 
    position: fixed; 
    bottom: 20px; 
    right: 10px; 
    border-radius: 5px; 
    z-index: 1;
}

.tm-location-marker {
    opacity: .9;
    padding:5px;
    position: fixed; 
    z-index: 1;
    left: 10px;
    bottom: 20px;
}

.tm-live-today {
    margin-bottom: 0px;
}

.tm-live-distance {
    margin-top: 5px;
}

.tm-marker-label {
    font-style: italic;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.glyphicon-arrow-up {
    color: #689F38;
}

.glyphicon-arrow-down {
    color: LightCoral;
}

.tm-search-group {
    background-color: LightGray;
}

.tm-marker-img {
    height:40px;
}

/* FOR TRIP METRICS */

.tm-tab {
    border-bottom: Solid;
    border-bottom-color: WhiteSmoke;
    border-left: Solid;
    border-right: Solid;
    border-left-color: WhiteSmoke;
    border-right-color: WhiteSmoke;
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #424242;
}

.tm-tab-active {
    border-bottom-color: LightCoral;
}

.tm-summary-tab {
    border-top-width: 0px;
    border-bottom: Solid;
    border-bottom-color: LightGray;
    border-bottom-width: 1px;
    height: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #424242;
}

.tm-summary-tab-active {
    border-bottom-width: 0px;
    border-top: Solid;
    border-top-color:  LightGray;
    border-top-width: 1px;
    border-left: Solid;
    border-left-color:  LightGray;
    border-left-width: 1px;
    border-right: Solid;
    border-right-color:  LightGray;
    border-right-width: 1px;
}

.tm-trip-summary {
    background-color: #EFEBE9;
}

/*
.tm-card {
    background-color: WhiteSmoke;
    padding: 20px;
    border: Solid;
    border-width: 10px;
    border-color: White;
}
*/

.tm-card-wrap {
    padding-left: 5px;
    padding-right: 5px;
}

.tm-card {
    border: Solid;
    border-width: 2px;
    border-color: #EFEBE9;
    background-color: #EFEBE9;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px LightGray;
    cursor: pointer;
}

.tm-card:hover {
    box-shadow: 3px 3px 2px LightGray;
}

.btn-info {
    background-color: LightCoral !important;
    border-color: LightCoral !important;
}

.btn-info:hover {
    background-color: #D87373 !important;
    border-color: #D87373 !important;
}

/* FOR CAR METRICS */

.tm-good-health {
    color: #689F38;
}

.tm-car-summary {
    background-color: #ECEFF1;
}

.tm-marker {
    padding-top: 20px;
}

.tm-marker-img:hover {
    opacity: 0.60;
    cursor: pointer;
}

.tm-car-card {
    border: Solid;
    border-width: 2px;
    border-color: #ECEFF1;
    background-color: #ECEFF1;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px LightGray;
}

.tm-car-card:hover {
    box-shadow: 3px 3px 2px LightGray;
}

/* FOR ALERTS */

.tm-alerts-summary {
    background-color: WhiteSmoke;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

.pac-item {
    height: 38px;
    padding-top: 5px;
}

.overlaymarigin {
    position: absolute;
    z-index: 3;
    padding-top: 5px;
    margin-left: 70%;
}

.overlayoption {
}

.overlaydiv {
    background-color:white;
}

.redtext {
    display: inline; 
    color: LightCoral
}

.zeromargin {
    margin: 0px;
}

.errortext {
    color: #bf1c1c;
}

.margintop20 {
    margin-top: 20px
}

.mydevicespace {
    margin-bottom:10px;
    margin-top:10px
}

.displayline {
    display:inline
}

.floatright {
    float: right;
}

.fullwidth {
    width: 100% !important;
}

.devicelistbox {
    width: 250px; 
    height: 150px; 
    margin-right:20px; 
    margin-bottom : 20px; 
    display: inline-table; 
    color: gray;
    cursor: pointer;
}

.marginleft10 {
    margin-left:10px;
}

.margintop15 {
    margin-top: 15px !important;
}

.heighth13 {
    height:13px
}

.marginleft5 {
    margin-left:5px
}

.marginright5 {
    margin-right:5px
}

.fontsize13 {
    font-size:13px
}

.contactmobilecode {
    display: inline-block; 
    margin-left: 1%
}

.contactmobileinput {
    margin-left: 1%; 
    width: 91%; 
    display: inline-block
}

.zeropadding {
    padding:0px !important
}

.tripsheading {
    display:inline !important;
    width:90px !important;
    margin-top:3px !important;
}

.width170 {
    width:170px !important;
}

.width150 {
    width:150px !important;
}

.hrborder {
    border-top: 1px solid rgba(6, 5, 5, 0.06); !important
}

.typeheadanchor {
    padding-left: 5px !important; 
    border-top: 1px solid rgba(128, 128, 128, 0.38) !important; 
    padding-top: 10px !important; 
    height : 40px !important; 
    font-size: 13px !important; 
    width: 100%;
    cursor: pointer;
}

.typeheadimage {
    height: 11px !important; 
    color: #858585 !important
}

.blackcolor {
    color: black !important
}

.marginbottom0 {
    margin-bottom: 0px !important;
}

.logoimage {
    display:inline !important;
    margin-right:0px !important;
    margin-bottom:2px !important;
    height: 20px;
}

.logoimage-home {
    display:inline !important;
    margin-right:0px !important;
    margin-bottom:7px !important;
    height: 30px;
}

.minheight637 {
    min-height: 637px !important;
}

.marginbottom10 {
    margin-bottom:10px
}

.fontbold {
    font-weight:bold
}

/*.livemapsearch {
    border: 1px solid rgba(128, 128, 128, 0.34); 
}*/

.livecarsearch {
    border: 2px solid rgba(59, 153, 252, 0.68) !important;
    width:100%; 
    position: relative; 
    z-index:3;
}

.carselectdiv {
    position: relative; 
    z-index:3; 
    margin-top:-38px
}

.carselect {
    border:0px; 
    float:right;  
    margin-top: 3px;
    margin-right: 2px;
}

.margintop30 {
    margin-top:30px
}

.hspace {
    margin-left: 5px;
}

.blueborder {
    border: 2px solid rgba(59, 153, 252, 0.68) !important;
    border-radius: 4px
}

.addresstextarea {
    padding-left: 4px !important;
    color: #858585 !important
}

.tripdetail {
  border-bottom: Solid;
  border-width: 2px;
  border-color: rgba(17, 100, 155, 0.52);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.tripdetail:hover {
  border-bottom: Solid;
  border-width: 2px;
  border-color: LightCoral;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.searchfilter {
    width: 44px;
    margin-right: -2px;
}

.tm-user-marker {
    height: 50px;
}

.tm-light-margin {
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}

.tm-search-text {
    font-size: 15px !important;
}

.tm-no-outline {
    outline: none !important;
}

div.callout {
    background-color: white;
    position: relative;
    color: gray;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #999;
    margin-bottom: 20px;
    border: 1px solid white;
    z-index : 1;
    font-size: 12px;
    color : black !important;
    min-width: 75px;
}

.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 2.8em solid transparent;
    position: absolute;
}

.callout.top::before {
    left: -20px;
    top: 14px;
    border-right: 10px solid white;
    z-index : -1;
}

.beige-bg {
   background-color: #EFEBE9 !important;
   border-bottom: Solid !important;
   border-bottom-width: 1px !important;
   border-bottom-color: #D7CCC8 !important;
   padding-bottom: 20px !important;
   padding-top: 20px !important;
   border-top: Solid !important;
   border-top-width: 1px !important;
   border-top-color: #D7CCC8 !important;
}

.beige-bg-full-border {
   background-color: #EFEBE9 ;
   border-top: Solid;
   border-top-width: 1px;
   border-top-color: #D7CCC8 ;
   border-bottom: Solid;
   border-bottom-width: 1px;
   border-bottom-color: #D7CCC8 ;
   padding-bottom: 20px;
   padding-top: 20px;
}

.tripblock {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.devicetype {
    width: 226px !important; 
    margin-left: 15px !important; 
    padding: 0px !important; 
    border: 1px solid #2e6da4 !important; 
    border-radius: 4px !important;
}

.height21{
    height: 21px !important;
}

.stick-list {
    min-height:95px !important; 
    max-height:95px !important;
}

.height40 {
    height: 40px !important;
}

.marginleft20 {
    margin-left: 20px
}

.blackcolortext {
    color: black !important
}

.cursorpointer {
    cursor: pointer;
}

.copyrightdiv {
    position: fixed;
    bottom: 0px;
    background: transparent;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    right: 10px; 
}

.navfixed {
    /**position: fixed !important;
    width: 100% !important;
    z-index: 999 !important;*/
}

input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:3px;
    width:50px;
}
#footer {
    position:fixed;
    bottom:5px;
}
.gm-style-mtc {
  display: none;
}

.marginright20 {
    margin-right: 20px
}


#orderdate {
    width: 100%
}

.order-list {
    min-height:120px !important; 
    max-height:120px !important;
}

/*Timer Slider*/
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

/* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    margin-top: 30px !important;
    width: 100% !important; 
    border-collapse: collapse !important; 
  }
  /* Zebra striping */
  tr:nth-of-type(even) { 
    background: #eee !important; 
  }
  tr {
    cursor: pointer; 
  }
  th { 
    /*background: rgba(11, 158, 8, 0.23) !important;*/ /*rgba(240, 128, 128, .60);*/
    color: black !important;  
    font-weight: bold !important; 
  }
  td, th { 
    padding: 10px !important; 
    text-align: left !important; 
  }
  td {
    border-top: 1px solid #ccc !important; 
    color: gray !important;
  }
  thead {
    border-bottom: 2px solid rgba(240, 129, 129, 0.37)!important; 
  }


  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block !important; 
    }
    
    .orderitem {
        padding-left: 0px !important;
        margin-top: 10px !important
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }

    thead {
        border: none !important;
    }

    tr { 
      cursor: pointer; 
      min-height: 170px;
      border-radius: 4px;
    }
    
    td { 
      /* Behave  like a "row" */
      border: none !important;
      position: relative !important;
      padding-left: 40% !important; 
      padding-top: 6px !important;
      padding-bottom: 6px !important;
      min-height: 32px;
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute !important;
      /* Top/left values mimic padding */
      top: 6px !important;
      left: 6px !important;
      width: 45% !important; 
      padding-right: 10px !important; 
      white-space: nowrap !important;
    }
    
    /*
    Label the data
    */
    .ordertd:nth-of-type(1):before { content: "Order"; }
    .ordertd:nth-of-type(2):before { content: "Customer name"; }
    .ordertd:nth-of-type(3):before { content: "Delivery time"; }
    .ordertd:nth-of-type(4):before { content: "Amount to collect"; }
    .ordertd:nth-of-type(5):before { content: "Address"; }
    .ordertd:nth-of-type(6):before { content: "Items"; }
    .ordertd:nth-of-type(7):before { content: "Tags"; }
    .ordertd:nth-of-type(8):before { content: "Status"; }

    .itemtd:nth-of-type(1):before { content: "Item name"; }
    .itemtd:nth-of-type(2):before { content: "Description"; }
    .itemtd:nth-of-type(3):before { content: "Price"; }
    .itemtd:nth-of-type(4):before { content: "Unit"; }
    .itemtd:nth-of-type(5):before { content: "Inventory"; }
    
  }
  
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    border-color: rgba(221, 221, 221, 0.36);
    border-radius: 4px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(221, 221, 221, 0.36);
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.orderdisplaybtn {
  width: 110px !important;
}

.badge {
  padding: 5px 7px !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  margin-bottom: 5px;
  margin-right: 5px;
}

.badgeblue {
    background-color: rgba(15, 159, 249, .6) !important;
}

.badgegreen {
    background-color: rgba(51, 205, 123, .6) !important;
}

.badgered {
    background-color: rgba(254, 70, 77, .6) !important;
}

.badgeorange {
    background-color: rgba(255,165,0,.6) !important;
}

.badgegray {
    background-color: rgba(128,128,128,.6) !important
}

.badgeblack {
    background-color: rgba(0,0,0,.6) !important
}

.badgestatus {
    background-color: rgba(127, 67, 165, 0.6) !important
}

.tagsborder {
    border: 1px solid rgba(211, 211, 211, 0.23);
    border-radius: 4px !important;
    min-height: 44px;
    background: rgba(211, 211, 211, 0.23);
}

.unusedtagsborder {
    border: 1px dashed gray;
}

.addtag {
    background-color: #d5d5d5 !important;
}

.pop-over-header {
    height: 36px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
}

.pop-over-header-title {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8c8c8c;
    display: block;
    line-height: 36px;
    border-bottom: 1px solid #d6dadc;
    margin: 0 10px;
    overflow: hidden;
    padding: 0 2pc;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

.pop-over-header-close-btn {
    display: inline-block;
    padding: 10px 10px 10px 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.tagcolor {
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 32px;
    width: 32px;
    display: inline-block;
    cursor: pointer;
}

.newtagdiv{
    border: 1px solid rgba(211, 211, 211, 0.23);
    background: rgba(211, 211, 211, 0.23);
    border-radius: 4px;
}

.tagtickimg {
    margin-left:7px;
    margin-top:6px;
    position: absolute;
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 125px;
    width: 100%;
    border: 2px dashed gray;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.margintop5 {
    margin-top: 5px;
}

.orderfilter {
    width: 250px;
    display: inline;
    margin-left:16px !important;
    margin-top: 10px !important;
}

.unassgincolor {
    color: LightCoral !important;
}

.orderitem {
    padding-left: 0px !important;
    padding-right:10px !important; 
}


/* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (max-width : 500px) {

    .multiselectdiv {
        float: left !important;
    }

    .orderfilter {
        width: 250px;
        display: inline-block;
    }
    .multiselect-parent > .dropdown-menu {
        left: 0px !important;
        float: left !important;
    }
    .checkdist {
        margin-top: -20px;
    }

    .orderitem {
        padding-left: 0px !important;
        margin-top: 10px !important
    }
}

.multiselectdiv {
    display: inline;
    float: right;
}

.multiselect-parent > button {
    width: 160px !important;
}

.multiselect-parent > .dropdown-menu {
    overflow: hidden !important;
    left: 0px !important;
    width: 160px;
}

.dropdown-menu>li>a {
    padding: 0px !important;
    height: 20px !important;
    padding-left: 10px !important;
}

.drivername {
    color:#337ab7;
    font-weight: 500;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.dropdown-menu>.active>a {
    color: black !important;
}

.nopadding {
    padding:0px !important;
}

a {
    cursor: pointer !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto !important;
}

.bootstrap-datetimepicker-widget table td.active, 
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: lightcoral;
    color: #ffffff !important;
}

.bootstrap-datetimepicker-widget table td, 
.bootstrap-datetimepicker-widget table th {
    border-radius: 0px !important;
}

.bootstrap-datetimepicker-widget table td span {
    padding-left: 10px !important;
}