
    .error-messages {
        -moz-transition: 1s linear all;
        -o-transition: 1s linear all;
        -webkit-transition: 1s linear all;
        transition: 1s linear all;
    }

        .error-messages.ng-active {
            color: #bf1c1c;
            margin-bottom: 0;
            margin-top: 8px;
        }

        .error-messages.ng-inactive {
        }

html {tm-marker-label
    height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab' !important;
}

.navbar {
    margin-bottom: 0px;
}


.badge {
    background-color: LightCoral !important;
}

.dropdown-toggle {
    cursor: pointer;
}

.tm-logo {
    height: 24px;
}

.tm-heading {
    font-weight: 500;
}

hr {
    border-color: LightGray;
}


/* FOR LIVE VIEW */

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}


.tm-live-map {
    z-index: 1;
    position: fixed;
}

.tm-live-overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}

.tm-overlay-unit {
    color: #424242;
}

.tm-live-summary {
    background-color: White;
    opacity: .9;
    padding:10px;
    text-decoration: none; 
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    border-radius: 5px; 
    z-index: 1;
}

.tm-location-marker {
    opacity: .9;
    padding:5px;
    position: fixed; 
    z-index: 1;
    left: 10px;
    bottom: 10px;
}

.tm-live-today {
    margin-bottom: 0px;
}

.tm-live-distance {
    margin-top: 5px;
}

.tm-marker-label {
    font-style: italic;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.tm-marker-label-distance {
    font-style: italic;
    margin-top: 5px;
    font-size: 12px;
    background-color: white;
    padding-left: 2px;
    padding-right: 2px;
    color : #5090C1 !important;
    font-weight: bold;
}


.glyphicon-arrow-up {
    color: #689F38;
}

.glyphicon-arrow-down {
    color: LightCoral;
}

.tm-search-group {
    background-color: LightGray;
}

.tm-marker-img {
    height:40px;
}

/* FOR TRIP METRICS */

.tm-tab {
    border-bottom: Solid;
    border-bottom-color: WhiteSmoke;
    border-left: Solid;
    border-right: Solid;
    border-left-color: WhiteSmoke;
    border-right-color: WhiteSmoke;
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    height: 35px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #424242;
}

.tm-tab-active {
    border-bottom-color: LightCoral;
}

.tm-summary-tab {
    border-top-width: 0px;
    border-bottom: Solid;
    border-bottom-color: LightGray;
    border-bottom-width: 1px;
    height: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #424242;
}

.tm-summary-tab-active {
    border-bottom-width: 0px;
    border-top: Solid;
    border-top-color:  LightGray;
    border-top-width: 1px;
    border-left: Solid;
    border-left-color:  LightGray;
    border-left-width: 1px;
    border-right: Solid;
    border-right-color:  LightGray;
    border-right-width: 1px;
}

.tm-trip-summary {
    background-color: #EFEBE9;
}

/*
.tm-card {
    background-color: WhiteSmoke;
    padding: 20px;
    border: Solid;
    border-width: 10px;
    border-color: White;
}
*/

.tm-card-wrap {
    padding-left: 5px;
    padding-right: 5px;
}

.tm-card {
    border: Solid;
    border-width: 2px;
    border-color: #EFEBE9;
    background-color: #EFEBE9;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px LightGray;
    cursor: pointer;
}

.tm-card:hover {
    box-shadow: 3px 3px 2px LightGray;
}

.btn-info {
    background-color: LightCoral !important;
    border-color: LightCoral !important;
}

.btn-info:hover {
    background-color: #D87373;
    border-color: #D87373;
}

/* FOR CAR METRICS */

.tm-good-health {
    color: #689F38;
}

.tm-car-summary {
    background-color: #ECEFF1;
}

.tm-marker {
    padding-top: 20px;
}

.tm-marker-img:hover {
    opacity: 0.60;
    cursor: pointer;
}

.tm-car-card {
    border: Solid;
    border-width: 2px;
    border-color: #ECEFF1;
    background-color: #ECEFF1;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px LightGray;
}

.tm-car-card:hover {
    box-shadow: 3px 3px 2px LightGray;
}

/* FOR ALERTS */

.tm-alerts-summary {
    background-color: WhiteSmoke;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

.pac-item {
    height: 38px;
    padding-top: 5px;
}

.overlaymarigin {
    position: absolute;
    z-index: 3;
    padding-top: 5px;
    margin-left: 70%;
}

.overlayoption {
}

.overlaydiv {
    background-color:white;
}

.redtext {
    display: inline; 
    color: LightCoral
}

.zeromargin {
    margin: 0px;
}

.errortext {
    color: #bf1c1c;
}

.margintop20 {
    margin-top: 20px
}

.mydevicespace {
    margin-bottom:10px;
    margin-top:10px
}

.displayline {
    display:inline
}

.floatright {
    float: right;
}

.fullwidth {
    width: 100% !important;
}

.devicelistbox {
    width: 250px; 
    height: 150px; 
    margin-right:20px; 
    margin-bottom : 20px; 
    display: inline-table; 
    color: gray;
    cursor: pointer;
}

.marginleft10 {
    margin-left:10px;
}

.margintop15 {
    margin-top: 15px
}

.heighth13 {
    height:13px
}

.marginleft5 {
    margin-left:5px
}

.marginright5 {
    margin-right:5px
}

.fontsize13 {
    font-size:13px
}

.contactmobilecode {
    display: inline-block; 
    margin-left: 1%
}

.contactmobileinput {
    margin-left: 1%; 
    width: 91%; 
    display: inline-block
}

.zeropadding {
    padding:0px !important
}

.tripsheading {
    display:inline !important;
    width:90px !important;
    margin-top:3px !important;
}

.width170 {
    width:170px !important;
}

.hrborder {
    border-top: 1px solid rgba(6, 5, 5, 0.06); !important
}

.typeheadanchor {
    background-color: white !important; 
    padding-left: 5px !important; 
    border-top: 1px solid rgba(128, 128, 128, 0.38) !important; 
    padding-top: 10px !important; 
    height : 40px !important; 
    font-size: 13px !important; 
    width: 100%
}

.typeheadimage {
    height: 11px !important; 
    color: #858585 !important
}

.blackcolor {
    color: black !important
}

.marginbottom0 {
    margin-bottom: 0px !important;
}

.logoimage {
    display:inline !important;
    margin-right:0px !important;
    margin-bottom:2px !important;
    height: 20px;
}

.logoimage-home {livemapsearch
    display:inline !important;
    margin-right:0px !important;
    margin-bottom:7px !important;
    height: 30px;
}

.minheight637 {
    min-height: 637px !important;
}

.marginbottom10 {
    margin-bottom:10px
}

.fontbold {
    font-weight:bold
}

/*
.livemapsearch {
    border: 1px solid rgba(128, 128, 128, 0.34); 
    border-radius: 4px;
}*/

livemapsearch {
    border: 1px solid rgba(128, 128, 128, 0.34); 
}

.livecarsearch {
    border: 2px solid rgba(59, 153, 252, 0.68) !important;
    width:100%; 
    position: 
    relative; 
    z-index:3;
}

.carselectdiv {
    position: relative; 
    z-index:3; 
    margin-top:-38px
}

.carselect {
    border:0px; 
    float:right;  
    margin-top: 3px;
    margin-right: 2px;
}

.margintop30 {
    margin-top:30px
}

.hspace {
    margin-left: 5px;
}

.blueborder {
    border: 2px solid rgba(59, 153, 252, 0.68) !important;
    border-radius: 4px
}

.addresstextarea {
    padding-left: 4px !important;
    color: #858585 !important
}

.tripdetail {
  border-bottom: Solid;
  border-width: 2px;
  border-color: rgba(17, 100, 155, 0.52);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.searchfilter {
    width: 44px;
    margin-right: -2px;
}

.tm-user-marker {
    height: 50px;
}

.tm-light-margin {
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}




